<!--=========== Loader =============-->
<!-- <div id="gen-loading">
        <div id="gen-loading-center">
            <img src="assets/images/logo-1.png" alt="loading">
        </div>
    </div> -->
<!--=========== Loader =============-->

<!--========== Header ==============-->
<snap-header></snap-header>
<!--========== Header ==============-->

<router-outlet></router-outlet>

<!-- footer start -->
<snap-footer></snap-footer>
<!-- footer End -->

<!-- Back-to-Top start -->

<!-- Back-to-Top end -->