<ng-container *ngIf="!speakers.isEmpty()">
    <h2 class="my-4">Speakers</h2>
    <div>
        <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
            data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false" data-loop="false"
            data-margin="30">
            <owl-carousel-o [options]="customOptionsForVideos">
                <ng-container *ngFor="let speaker of speakers;let speakerItemLoopIndex=index">
                    <ng-template carouselSlide>
                        <div class="item">
                            <div
                                class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
                                <div class="gen-carousel-movies-style-2 movie-grid style-2">
                                    <div class="gen-movie-contain">
                                        <div class="gen-movie-img">
                                            <snap-img-lazy [src]="speaker.getIn([
                                        'image',
                                        'src'
                                        ])" [alt]="speaker.getIn([
                                        'image',
                                        'alt'
                                        ])" width="100%" height="338px"></snap-img-lazy>
                                        </div>
                                        <div class="gen-info-contain">
                                            <div class="gen-movie-info">
                                                <h3>
                                                    <a [owlRouterLink]="null">
                                                        {{ speaker.get('fullName') | titlecase }}
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #post-## -->
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</ng-container>