<div ngClass="moment-img-container" *ngIf="!getBoolean(
    state.get('loaded'))">
    <ngx-skeleton-loader [theme]="{
        'background-color': '#464646',
    height: height,
    width: width
}" [appearance]="appearance"></ngx-skeleton-loader>

</div>

<ng-container *ngIf="getBoolean(state.get('visible'))">
    <img (click)="reportImageClicked()" [ngClass]="imgClass" [class.moment-round-img-card]="momentRoundImgCard"
        [class.moment-img-container]="!imgClass" [hidden]="!getBoolean(state.get('loaded'))" (load)="onLoad()"
        [src]="src" [alt]="alt" [width]="width" [height]="this.height" />
</ng-container>