<!-- breadcrumb -->
<snap-breadcrumb>
    <ng-container data-breadcrumbTitle>
        <h1> Manage Profile </h1>
    </ng-container>

    <ng-container data-breadcrumbItems>
        <ng-template snapBreadcrumbItem>
            <a routerLink="">
                <i ngClass="fas fa-home mr-2"></i>Home
            </a>
        </ng-template>
        <ng-template snapBreadcrumbItem>
            <a routerLink="..">
                Profile info
            </a>
        </ng-template>

        <ng-template snapBreadcrumbItem active="true">
            Change password
        </ng-template>
    </ng-container>
</snap-breadcrumb>
<!-- breadcrumb -->

<!-- Blog-left-Sidebar -->
<section ngClass="gen-section-padding-3">
    <div ngClass="container" [ngSwitch]="displayingSection">
        <ng-container *ngSwitchCase="'passwordUpdatedSuccessfully'">
            <div ngClass="py-5 text-center">
                <span ngClass="d-block mx-auto mb-4" style="width: 72px; height: 72px">
                    <i ngClass="fa fa-check-circle" style="font-size:48px;color: var(--primary-color);"></i>
                </span>
                <h2> Password Updated! </h2>
                <p>Your password has been changed successfully.</p>

                <a ngClass="gen-button btn btn-danger btn-lg d-block mt-4" routerLink=".." tabindex="0"
                    [style.width.%]="100">
                    <span ngClass="text">
                        Close
                    </span>
                </a>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'changePassword'">
            <h4 ngClass="main-title mb-4 my-4">Password</h4>
            <div ngClass="row">
                <div ngClass="col-xl-12 col-md-12">
                    <div ngClass="gen-blog gen-blog-col-1">
                        <div ngClass="row">
                            <div ngClass="col-lg-12">


                                <p ngClass="mb-3 pb-3 a-border">
                                    Choose a strong password and don't reuse it for other accounts.
                                </p>
                                <form [formGroup]="changePasswordFormGroup" autocomplete="off">
                                    <snap-errornote></snap-errornote>

                                    <ng-template #formFieldErrorsTemplate let-formControlFormGroup="formGroup"
                                        let-formFieldErrors="errors">
                                        <snap-display-form-field-errors [formGroupElement]="formControlFormGroup"
                                            [submitted]="submitted"
                                            [requiredOrNullOrNoValueProvidedErrorMessage]="formFieldErrors.requiredOrNullOrNoValueProvidedErrorMessage || null"
                                            [minCharacterNotGenuinelyAchievedErrorMessage]="formFieldErrors.minCharacterNotGenuinelyAchievedErrorMessage || null"
                                            [maxLengthPrefixErrorMessage]="formFieldErrors.maxLengthPrefixErrorMessage || null"
                                            [minLengthPrefixErrorMessage]="formFieldErrors.minLengthPrefixErrorMessage || null"
                                            [emailErrorMessage]="formFieldErrors.emailErrorMessage || null"
                                            [emailHasBeenTakenErrorMessage]="formFieldErrors.emailHasBeenTakenErrorMessage || null"
                                            [phoneNumberHasBeenTakenErrorMessage]="formFieldErrors.phoneNumberHasBeenTakenErrorMessage || null"
                                            [usernameHasBeenTakenErrorMessage]="formFieldErrors.usernameHasBeenTakenErrorMessage || null">
                                        </snap-display-form-field-errors>
                                    </ng-template>

                                    <div ngClass="row gt-form">
                                        <div ngClass="col-md-12 mb-4">
                                            <label
                                                [for]="CHANGE_PASSWORD_PARAM.NEW_PASSWORD
                                        .slug(CHANGE_PASSWORD_PARAM.NAME_OF_FORM_GROUP, CHANGE_PASSWORD_PARAM.NEW_PASSWORD.formControlName)"
                                                [class.text-danger]="changePasswordFormGroup
                                            ?.get(CHANGE_PASSWORD_PARAM.NEW_PASSWORD.formControlName)?.invalid && (changePasswordFormGroup
                                            ?.get(CHANGE_PASSWORD_PARAM.NEW_PASSWORD.formControlName)?.touched || submitted)">
                                                {{ CHANGE_PASSWORD_PARAM.NEW_PASSWORD.label }}
                                            </label>
                                            <input type="password" #passwordEl
                                                [id]="CHANGE_PASSWORD_PARAM.NEW_PASSWORD
                                        .slug(CHANGE_PASSWORD_PARAM.NAME_OF_FORM_GROUP, CHANGE_PASSWORD_PARAM.NEW_PASSWORD.formControlName)"
                                                [formControlName]="CHANGE_PASSWORD_PARAM.NEW_PASSWORD.formControlName"
                                                [class.is-invalid]="changePasswordFormGroup
                                            ?.get(CHANGE_PASSWORD_PARAM.NEW_PASSWORD.formControlName)?.invalid && (changePasswordFormGroup
                                            ?.get(CHANGE_PASSWORD_PARAM.NEW_PASSWORD.formControlName)?.touched || submitted)"
                                                [placeholder]="CHANGE_PASSWORD_PARAM.NEW_PASSWORD.placeholder"
                                                [attr.aria-invalid]="changePasswordFormGroup
                                            ?.get(CHANGE_PASSWORD_PARAM.NEW_PASSWORD.formControlName)?.invalid"
                                                [attr.aria-required]="CHANGE_PASSWORD_PARAM.NEW_PASSWORD.isRequired">
                                            <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate"
                                                [ngTemplateOutletContext]="{
                                                formGroup: changePasswordFormGroup
                                                ?.get(CHANGE_PASSWORD_PARAM.NEW_PASSWORD.formControlName),
                                                errors: CHANGE_PASSWORD_PARAM.NEW_PASSWORD.errors
                                            }"></ng-container>
                                        </div>
                                    </div>
                                    <div [ngClass]="['checkbox', 'custom-checkbox']"
                                        title="Click here to {{togglePasswordVisibilityEl.checked ? 'hide the entered ' : 'see the entered ' }} password">
                                        <label for="togglePasswordVisibility">
                                            <input (change)="togglePasswordVisibilityEl.checked ?
                                    passwordEl.type='text': passwordEl.type='password';" type="checkbox"
                                                id="togglePasswordVisibility" #togglePasswordVisibilityEl
                                                aria-required="false">
                                            Show password
                                        </label>
                                    </div>

                                    <div ngClass="gen-btn-container">
                                        <snap-ajax-button [execute]="onSubmit" [parameter]="changePasswordFormGroup">
                                            <ng-container data-animator>
                                                <span ngClass="loadmore-icon d-inline-block"><i
                                                        ngClass="fa fa-spinner fa-spin"></i></span>
                                                <span ngClass="gen-button-text">
                                                    <span id="pms-submit-button-loading-placeholder-text">
                                                        Changing password...</span>
                                                </span>
                                            </ng-container>
                                            <ng-container data-content>
                                                <span ngClass="gen-button-line-left"></span>
                                                <span ngClass="gen-button-text">Change password</span>
                                            </ng-container>
                                        </snap-ajax-button>
                                    </div>
                                </form>


                                <ng-container *ngSwitchDefault></ng-container>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>
<!-- Blog-left-Sidebar -->