<!--=========== Loader =============-->
<!-- <div id="gen-loading">
    <div id="gen-loading-center">
        <img src="assets/images/logo-1.png" alt="loading">
    </div>
</div> -->
<!--=========== Loader =============-->

<!-- Log-in  -->
<section ngClass="position-relative pb-0">
    <div ngClass="gen-login-page-background" style="background-image: url('assets/images/background/asset-54.jpg');">
    </div>
    <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-lg-12">
                <div ngClass="text-center">
                    <form id="pms_login" [formGroup]="signInFormGroup" *ngIf="signInFormGroup" autocomplete="off">
                        <h4>Sign In</h4>

                        <snap-errornote></snap-errornote>

                        <ng-template #formFieldErrorsTemplate let-formControlFormGroup="formGroup"
                            let-formFieldErrors="errors">
                            <snap-display-form-field-errors [formGroupElement]="formControlFormGroup"
                                [submitted]="submitted"
                                [requiredOrNullOrNoValueProvidedErrorMessage]="formFieldErrors.requiredOrNullOrNoValueProvidedErrorMessage || null"
                                [minCharacterNotGenuinelyAchievedErrorMessage]="formFieldErrors.minCharacterNotGenuinelyAchievedErrorMessage || null"
                                [minLengthPrefixErrorMessage]="formFieldErrors.minLengthPrefixErrorMessage || null"
                                [incorrectCredentialsErrorMessage]="formFieldErrors.incorrectCredentials || null">
                            </snap-display-form-field-errors>
                        </ng-template>

                        <p ngClass="login-username">
                            <label
                                [for]="SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER
                            .slug(SIGN_IN_PARAM.NAME_OF_FORM_GROUP, SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.formControlName)"
                                [class.text-danger]="signInFormGroup
                                ?.get(SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.formControlName)?.invalid && (signInFormGroup
                                ?.get(SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.formControlName)?.touched || submitted)">
                                {{ SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.label }}
                            </label>
                            <input
                                [id]="SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER
                            .slug(SIGN_IN_PARAM.NAME_OF_FORM_GROUP, SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.formControlName)"
                                [formControlName]="SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.formControlName"
                                type="text"
                                [class.is-invalid]="signInFormGroup
                                ?.get(SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.formControlName)?.invalid && (signInFormGroup
                                ?.get(SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.formControlName)?.touched || submitted)"
                                [placeholder]="SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.placeholder"
                                [attr.aria-invalid]="signInFormGroup
                                ?.get(SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.formControlName)?.invalid"
                                [attr.aria-required]="SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.isRequired">
                            <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate" [ngTemplateOutletContext]="{
                                    formGroup: signInFormGroup
                                    ?.get(SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.formControlName),
                                    errors: SIGN_IN_PARAM.USERNAME_OR_EMAIL_PHONE_NUMBER.errors
                                }"></ng-container>
                        </p>
                        <p ngClass="login-password">
                            <label [for]="SIGN_IN_PARAM.PASSWORD
                                .slug(SIGN_IN_PARAM.NAME_OF_FORM_GROUP, SIGN_IN_PARAM.PASSWORD.formControlName)"
                                [class.text-danger]="signInFormGroup
                                    ?.get(SIGN_IN_PARAM.PASSWORD.formControlName)?.invalid && (signInFormGroup
                                    ?.get(SIGN_IN_PARAM.PASSWORD.formControlName)?.touched || submitted)">
                                {{ SIGN_IN_PARAM.PASSWORD.label }}
                            </label>
                            <input type="password" #passwordEl [id]="SIGN_IN_PARAM.PASSWORD
                                .slug(SIGN_IN_PARAM.NAME_OF_FORM_GROUP, SIGN_IN_PARAM.PASSWORD.formControlName)"
                                [formControlName]="SIGN_IN_PARAM.PASSWORD.formControlName" [class.is-invalid]="signInFormGroup
                                    ?.get(SIGN_IN_PARAM.PASSWORD.formControlName)?.invalid && (signInFormGroup
                                    ?.get(SIGN_IN_PARAM.PASSWORD.formControlName)?.touched || submitted)"
                                [placeholder]="SIGN_IN_PARAM.PASSWORD.placeholder" [attr.aria-invalid]="signInFormGroup
                                    ?.get(SIGN_IN_PARAM.PASSWORD.formControlName)?.invalid"
                                [attr.aria-required]="SIGN_IN_PARAM.PASSWORD.isRequired">
                            <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate" [ngTemplateOutletContext]="{
                                        formGroup: signInFormGroup
                                        ?.get(SIGN_IN_PARAM.PASSWORD.formControlName),
                                        errors: SIGN_IN_PARAM.PASSWORD.errors
                                    }"></ng-container>
                        </p>
                        <p ngClass="login-remember"
                            title="Click here to {{togglePasswordVisibilityEl.checked ? 'hide the entered ' : 'see the entered ' }} password">
                            <label for="togglePasswordVisibility">
                                <input (change)="togglePasswordVisibilityEl.checked ?
                                    passwordEl.type='text': passwordEl.type='password';" type="checkbox"
                                    id="togglePasswordVisibility" #togglePasswordVisibilityEl aria-required="false">
                                Show password
                            </label>
                        </p>
                        <!-- <p ngClass="login-submit">
                            <input type="button" name="wp-submit" id="wp-submit" ngClass="button button-primary"
                                value="Log In">
                            <input type="hidden" name="redirect_to">
                        </p> -->

                        <div ngClass="gen-btn-container">
                            <snap-ajax-button [execute]="onSubmit" [parameter]="signInFormGroup">
                                <ng-container data-animator>
                                    <span ngClass="loadmore-icon d-inline-block"><i
                                            ngClass="fa fa-spinner fa-spin"></i></span>
                                    <span ngClass="gen-button-text">
                                        <span id="pms-submit-button-loading-placeholder-text">Processing
                                            request...</span>
                                    </span>
                                </ng-container>
                                <ng-container data-content>
                                    <span ngClass="gen-button-line-left"></span>
                                    <span ngClass="gen-button-text">sign in</span>
                                </ng-container>
                            </snap-ajax-button>
                        </div>

                        <span ngClass="d-block mt-4">
                            <a routerLink="../register" [queryParamsHandling]="'preserve'">Register</a> | <a
                                routerLink="../recover-password">Lost your
                                password?</a>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Log-in  -->