<!--=========== Loader =============-->
<!-- <div id="gen-loading">
        <div id="gen-loading-center">
            <img src="assets/images/logo-1.png" alt="loading">
        </div>
    </div> -->
<!--=========== Loader =============-->

<!-- Recover-Password -->
<section ngClass="position-relative pb-0">
    <div ngClass="recover-password-page-background"
        style="background-image:url('assets/images/background/asset-75.jpg');">
    </div>
    <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-lg-12">
                <div ngClass="text-center">
                    <form id="pms_recover_password_form" ngClass="pms-form" ngNoForm autocomplete="off">
                        <h4>Recover Password</h4>

                        <p ngClass="font-weight-bold">
                            If you need to reset your password, please click on the link below.
                        </p>
                        <!-- <ul ngClass="pms-form-fields-wrapper pl-0 mb-4">
                            <li ngClass="pms-field">
                                <label for="pms_username_email">Contact us</label>
                                <input id="pms_username_email" name="pms_username_email" type="text" value="">
                            </li>
                        </ul> -->
                        <a ngClass="gen-button btn btn-danger btn-lg" routerLink="/contact-us" tabindex="0"
                            [style.width.%]="100">
                            <span ngClass="text">
                                Contact us
                            </span>
                        </a>
                        <!-- <input type="button" name="submit" value="Reset Password"> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recover-Password -->