<!--========== Header ==============-->
<snap-header></snap-header>
<!--========== Header ==============-->

<snap-breadcrumb [breadcrumbDetails]="breadcrumbDetails">
    <ng-container data-breadcrumbTitle>
        <h1>
            Event Photos
        </h1>
    </ng-container>

    <ng-container data-breadcrumbItems>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/">
                    <i class="fas fa-home mr-2"></i>Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/moments/past">
                    Past Moment
                </a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="..">
                    <ng-container *ngIf="breadcrumbDetails.get('nameOfMoment'); else generalizeItemTitle">
                        {{breadcrumbDetails.get('nameOfMoment')|formatUrl:20 }}
                    </ng-container>
                    <ng-template #generalizeItemTitle>
                        See other details
                    </ng-template>

                </a>
            </li>
            <li class="breadcrumb-item active">Photos</li>
        </ol>
    </ng-container>
</snap-breadcrumb>

<section class="gen-section-padding-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="gen-style-1">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6" *ngFor="let photo of photos;let loopIndex=index;">
                            <div class="gen-carousel-movies-style-2 movie-grid style-2">
                                <div class="gen-movie-contain">
                                    <div class="gen-movie-img">
                                        <snap-img-lazy [src]="photo.get('src')" [alt]="photo.get('alt')" width="100%"
                                            height="338px">
                                        </snap-img-lazy>
                                    </div>
                                    <div class="gen-info-contain" *ngIf="photo.get('alt')">
                                        <div class="gen-movie-meta-holder">
                                            <ul>
                                                <li>
                                                    {{ photo.get('alt') }}
                                                </li>
                                            </ul>

                                            <ul>
                                                <li *ngIf="photo.get('alt').length > 70">
                                                    <a [routerLink]="null" data-toggle="modal"
                                                        [attr.data-target]="'#'+MODAL_ID_FOR_FULL_CAPTION"
                                                        (click)="viewFullPhotoCaption(loopIndex)">
                                                        <span>Continue reading</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" *ngIf="paginationDetailsForPhotos.get('next')">
                <div class="gen-load-more-button">
                    <div class="gen-btn-container">
                        <a class="gen-button gen-button-loadmore" [routerLink]="null" (click)="listPhotos()">
                            <span class="loadmore-icon" [style.display]="loadingDetails ? 'inline-block': 'none'"><i
                                    class="fa fa-spinner fa-spin"></i></span>
                            <span class="button-text">Load More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<snap-footer></snap-footer>


<snap-modal-fullscreen [modalID]="MODAL_ID_FOR_FULL_CAPTION">
    <ng-container data-modalTitle>
        Review
    </ng-container>

    <ng-container data-modalHeaderDismissModal>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: var(--white-color);">
            <span aria-hidden="true">&times;</span>
        </button>
    </ng-container>

    <ng-container data-modalBody>
        <span [innerHTML]="selectedPhotoDetails.get('caption')"></span>
    </ng-container>

    <ng-container data-modalFooter>
        <a class="gen-button" data-dismiss="modal" [routerLink]="null">
            <div class="gen-button-block"><span class="gen-button-text"> Close </span></div>
        </a>
    </ng-container>
</snap-modal-fullscreen>