<footer ngClass="my-5 pt-5 text-muted text-center text-small">
    <p ngClass="mb-1">© 2022 Shownest</p>
    <ul ngClass="list-inline">
        <li ngClass="list-inline-item">
            <a ngClass="font-weight-bold" routerLink="/policies/privacy-notice">Privacy</a>
        </li>
        <li ngClass="list-inline-item">
            <a ngClass="font-weight-bold" routerLink="/policies/terms-of-use">Terms</a>
        </li>
        <li ngClass="list-inline-item">
            <a ngClass="font-weight-bold" routerLink="/contact-us">Support</a>
        </li>
    </ul>
</footer>