<!--=========== Loader =============-->
<!-- <div id="gen-loading">
    <div id="gen-loading-center">
        <img src="assets/images/logo-1.png" alt="loading">
    </div>
</div> -->
<!--=========== Loader =============-->

<!-- register -->
<section ngClass="position-relative pb-0">
    <div ngClass="gen-register-page-background" style="background-image: url('assets/images/background/asset-3.jpeg');">
    </div>
    <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-lg-12">
                <div ngClass="text-center">
                    <form id="pms_register-form" ngClass="pms-form" [formGroup]="signUpFormGroup" autocomplete="off"
                        *ngIf="signUpFormGroup" spellcheck="false" autocomplete="off"
                        [attr.aria-invalid]="signUpFormGroup?.invalid">
                        <h4>Create your Account - It's Free</h4>

                        <div #compellingReasonsToSignUpSection></div>

                        <snap-errornote></snap-errornote>

                        <ng-template #formFieldErrorsTemplate let-formControlFormGroup="formGroup"
                            let-formFieldErrors="errors">
                            <snap-display-form-field-errors [formGroupElement]="formControlFormGroup"
                                [submitted]="submitted"
                                [requiredOrNullOrNoValueProvidedErrorMessage]="formFieldErrors.requiredOrNullOrNoValueProvidedErrorMessage || null"
                                [minCharacterNotGenuinelyAchievedErrorMessage]="formFieldErrors.minCharacterNotGenuinelyAchievedErrorMessage || null"
                                [maxLengthPrefixErrorMessage]="formFieldErrors.maxLengthPrefixErrorMessage || null"
                                [minLengthPrefixErrorMessage]="formFieldErrors.minLengthPrefixErrorMessage || null"
                                [emailErrorMessage]="formFieldErrors.emailErrorMessage || null"
                                [emailHasBeenTakenErrorMessage]="formFieldErrors.emailHasBeenTakenErrorMessage || null"
                                [phoneNumberHasBeenTakenErrorMessage]="formFieldErrors.phoneNumberHasBeenTakenErrorMessage || null"
                                [usernameHasBeenTakenErrorMessage]="formFieldErrors.usernameHasBeenTakenErrorMessage || null">
                            </snap-display-form-field-errors>
                        </ng-template>

                        <div ngClass="row gt-form">
                            <div ngClass="col-md-6 mb-4">
                                <label [for]="REGISTER_PARAM.FIRST_NAME
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.FIRST_NAME.formControlName)"
                                    [class.text-danger]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.FIRST_NAME.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.FIRST_NAME.formControlName)?.touched || submitted)">
                                    {{ REGISTER_PARAM.FIRST_NAME.label }}
                                </label>
                                <input [id]="REGISTER_PARAM.FIRST_NAME
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.FIRST_NAME.formControlName)"
                                    [formControlName]="REGISTER_PARAM.FIRST_NAME.formControlName" type="text"
                                    [class.is-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.FIRST_NAME.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.FIRST_NAME.formControlName)?.touched || submitted)"
                                    [placeholder]="REGISTER_PARAM.FIRST_NAME.placeholder" [attr.aria-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.FIRST_NAME.formControlName)?.invalid"
                                    [attr.aria-required]="REGISTER_PARAM.FIRST_NAME.isRequired">
                                <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate" [ngTemplateOutletContext]="{
                                        formGroup: signUpFormGroup
                                        ?.get(REGISTER_PARAM.FIRST_NAME.formControlName),
                                        errors: REGISTER_PARAM.FIRST_NAME.errors
                                    }"></ng-container>
                            </div>

                            <div ngClass="col-md-6 mb-4">
                                <label [for]="REGISTER_PARAM.LAST_NAME
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.LAST_NAME.formControlName)"
                                    [class.text-danger]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.LAST_NAME.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.LAST_NAME.formControlName)?.touched || submitted)">
                                    {{ REGISTER_PARAM.LAST_NAME.label }}
                                </label>
                                <input [id]="REGISTER_PARAM.LAST_NAME
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.LAST_NAME.formControlName)"
                                    [formControlName]="REGISTER_PARAM.LAST_NAME.formControlName" type="text"
                                    [class.is-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.LAST_NAME.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.LAST_NAME.formControlName)?.touched || submitted)"
                                    [placeholder]="REGISTER_PARAM.LAST_NAME.placeholder" [attr.aria-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.LAST_NAME.formControlName)?.invalid"
                                    [attr.aria-required]="REGISTER_PARAM.LAST_NAME.isRequired">
                                <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate" [ngTemplateOutletContext]="{
                                        formGroup: signUpFormGroup
                                        ?.get(REGISTER_PARAM.LAST_NAME.formControlName),
                                        errors: REGISTER_PARAM.LAST_NAME.errors
                                    }"></ng-container>
                            </div>

                            <div ngClass="col-md-6 mb-4">
                                <label [for]="REGISTER_PARAM.EMAIL
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.EMAIL.formControlName)"
                                    [class.text-danger]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.EMAIL.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.EMAIL.formControlName)?.touched || submitted)">
                                    {{ REGISTER_PARAM.EMAIL.label }}
                                </label>
                                <input type="email" [id]="REGISTER_PARAM.EMAIL
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.EMAIL.formControlName)"
                                    [formControlName]="REGISTER_PARAM.EMAIL.formControlName" type="text"
                                    [class.is-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.EMAIL.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.EMAIL.formControlName)?.touched || submitted)"
                                    [placeholder]="REGISTER_PARAM.EMAIL.placeholder" [attr.aria-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.EMAIL.formControlName)?.invalid"
                                    [attr.aria-required]="REGISTER_PARAM.EMAIL.isRequired"
                                    snapHasBeenTaken="emailHasBeenTaken" [validateFunction]="checkIfEmailHasBeenTaken"
                                    snapBusyIndicator>
                                <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate" [ngTemplateOutletContext]="{
                                        formGroup: signUpFormGroup
                                        ?.get(REGISTER_PARAM.EMAIL.formControlName),
                                        errors: REGISTER_PARAM.EMAIL.errors
                                    }"></ng-container>
                            </div>

                            <div ngClass="col-md-6 mb-4">
                                <label [for]="REGISTER_PARAM.PHONE_NUMBER
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.PHONE_NUMBER.formControlName)"
                                    [class.text-danger]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.PHONE_NUMBER.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.PHONE_NUMBER.formControlName)?.touched || submitted)">
                                    {{ REGISTER_PARAM.PHONE_NUMBER.label }}
                                </label>
                                <input type="tel" [id]="REGISTER_PARAM.PHONE_NUMBER
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.PHONE_NUMBER.formControlName)"
                                    [formControlName]="REGISTER_PARAM.PHONE_NUMBER.formControlName" [class.is-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.PHONE_NUMBER.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.PHONE_NUMBER.formControlName)?.touched || submitted)"
                                    [placeholder]="REGISTER_PARAM.PHONE_NUMBER.placeholder" [attr.aria-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.PHONE_NUMBER.formControlName)?.invalid"
                                    [attr.aria-required]="REGISTER_PARAM.PHONE_NUMBER.isRequired"
                                    [attr.aria-required]="REGISTER_PARAM.PHONE_NUMBER.isRequired"
                                    snapHasBeenTaken="phoneNumberHasBeenTaken"
                                    [validateFunction]="checkIfPhoneNumberHasBeenTaken" snapBusyIndicator>
                                <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate" [ngTemplateOutletContext]="{
                                        formGroup: signUpFormGroup
                                        ?.get(REGISTER_PARAM.PHONE_NUMBER.formControlName),
                                        errors: REGISTER_PARAM.PHONE_NUMBER.errors
                                    }"></ng-container>
                            </div>

                            <div ngClass="col-md-12 mb-4">
                                <label [for]="REGISTER_PARAM.USERNAME
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.USERNAME.formControlName)"
                                    [class.text-danger]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.USERNAME.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.USERNAME.formControlName)?.touched || submitted)">
                                    {{ REGISTER_PARAM.USERNAME.label }}
                                </label>
                                <input [id]="REGISTER_PARAM.USERNAME
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.USERNAME.formControlName)"
                                    [formControlName]="REGISTER_PARAM.USERNAME.formControlName" type="text"
                                    [class.is-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.USERNAME.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.USERNAME.formControlName)?.touched || submitted)"
                                    [placeholder]="REGISTER_PARAM.USERNAME.placeholder" [attr.aria-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.USERNAME.formControlName)?.invalid"
                                    [attr.aria-required]="REGISTER_PARAM.USERNAME.isRequired"
                                    [attr.aria-required]="REGISTER_PARAM.USERNAME.isRequired"
                                    snapHasBeenTaken="usernameHasBeenTaken"
                                    [validateFunction]="checkIfUsernameHasBeenTaken" snapBusyIndicator>
                                <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate" [ngTemplateOutletContext]="{
                                        formGroup: signUpFormGroup
                                        ?.get(REGISTER_PARAM.USERNAME.formControlName),
                                        errors: REGISTER_PARAM.USERNAME.errors
                                    }"></ng-container>
                            </div>

                            <div ngClass="col-md-12 mb-4">
                                <label [for]="REGISTER_PARAM.PASSWORD
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.PASSWORD.formControlName)"
                                    [class.text-danger]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.PASSWORD.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.PASSWORD.formControlName)?.touched || submitted)">
                                    {{ REGISTER_PARAM.PASSWORD.label }}
                                </label>
                                <input type="password" #passwordEl [id]="REGISTER_PARAM.PASSWORD
                                .slug(REGISTER_PARAM.NAME_OF_FORM_GROUP, REGISTER_PARAM.PASSWORD.formControlName)"
                                    [formControlName]="REGISTER_PARAM.PASSWORD.formControlName" [class.is-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.PASSWORD.formControlName)?.invalid && (signUpFormGroup
                                    ?.get(REGISTER_PARAM.PASSWORD.formControlName)?.touched || submitted)"
                                    [placeholder]="REGISTER_PARAM.PASSWORD.placeholder" [attr.aria-invalid]="signUpFormGroup
                                    ?.get(REGISTER_PARAM.PASSWORD.formControlName)?.invalid"
                                    [attr.aria-required]="REGISTER_PARAM.PASSWORD.isRequired">
                                <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate" [ngTemplateOutletContext]="{
                                        formGroup: signUpFormGroup
                                        ?.get(REGISTER_PARAM.PASSWORD.formControlName),
                                        errors: REGISTER_PARAM.PASSWORD.errors
                                    }"></ng-container>
                            </div>
                        </div>

                        <div [ngClass]="['checkbox', 'custom-checkbox']"
                            title="Click here to {{togglePasswordVisibilityEl.checked ? 'hide the entered ' : 'see the entered ' }} password">
                            <label for="togglePasswordVisibility">
                                <input (change)="togglePasswordVisibilityEl.checked ?
                                    passwordEl.type='text': passwordEl.type='password';" type="checkbox"
                                    id="togglePasswordVisibility" #togglePasswordVisibilityEl aria-required="false">
                                Show password
                            </label>
                        </div>

                        <div ngClass="pms-field pms-field-subscriptions">
                            <div ngClass="pms-subscription-plan">
                                <p ngClass="ZGwn1">By registering, you agree to our<a
                                        routerLink="/policies/terms-of-use"> Terms</a>, and<a routerLink="/policies/privacy-notice"> Data
                                        Policy</a>.
                                </p>
                            </div>

                            <div ngClass="pms-subscription-plan">
                                <p ngClass="ZGwn1">
                                    Have an account?<a routerLink="../log-in" [queryParamsHandling]="'preserve'"> Log
                                        in</a>
                                </p>
                            </div>
                        </div>

                        <div ngClass="gen-btn-container">
                            <snap-ajax-button [execute]="onSubmit" [parameter]="signUpFormGroup">
                                <ng-container data-animator>
                                    <span ngClass="loadmore-icon d-inline-block"><i
                                            ngClass="fa fa-spinner fa-spin"></i></span>
                                    <span ngClass="gen-button-text">
                                        <span id="pms-submit-button-loading-placeholder-text">
                                            Creating account...</span>
                                    </span>
                                </ng-container>
                                <ng-container data-content>
                                    <span ngClass="gen-button-line-left"></span>
                                    <span ngClass="gen-button-text">Register</span>
                                </ng-container>
                            </snap-ajax-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- register -->