<!--========== Header ==============-->
<snap-header></snap-header>
<!--========== Header ==============-->

<!-- breadcrumb -->
<!-- breadcrumb -->
<snap-breadcrumb>
    <ng-container data-breadcrumbTitle>
        <h1> Contact Us </h1>
    </ng-container>

    <ng-container data-breadcrumbItems>
        <ng-template snapBreadcrumbItem>
            <a routerLink="">
                <i ngClass="fas fa-home mr-2"></i>Home
            </a>
        </ng-template>

        <ng-template snapBreadcrumbItem active="true">
            Contact Us
        </ng-template>
    </ng-container>
</snap-breadcrumb>
<!-- breadcrumb -->

<!-- Icon-Box Start -->
<section ngClass="gen-section-padding-3">
    <div ngClass="container container-2">
        <div ngClass="row">
            <div ngClass="col-xl-4 col-md-6">
                <div ngClass="gen-icon-box-style-1">
                    <div ngClass="gen-icon-box-icon">
                        <span ngClass="gen-icon-animation">
                            <i ngClass="fas fa-map-marker-alt"></i></span>
                    </div>
                    <div ngClass="gen-icon-box-content">
                        <h3 ngClass="pt-icon-box-title mb-2">
                            <span>Our Location</span>
                        </h3>
                        <p ngClass="gen-icon-box-description">
                            {{ locationDetails.get('location', '') }}
                        </p>
                    </div>
                </div>
            </div>
            <div ngClass="col-xl-4 col-md-6 mt-4 mt-md-0">
                <div ngClass="gen-icon-box-style-1">
                    <div ngClass="gen-icon-box-icon">
                        <span ngClass="gen-icon-animation">
                            <i ngClass="fas fa-phone-alt"></i></span>
                    </div>
                    <div ngClass="gen-icon-box-content">
                        <h3 ngClass="pt-icon-box-title mb-2">
                            <span>call us at</span>
                        </h3>
                        <p ngClass="gen-icon-box-description">
                            <ng-container
                                *ngFor="let phoneNumber of phoneNumbers;let itemIsLast=last;trackBy:trackByPhoneNumber">
                                <a ngClass="font-weight-bold" href="tel:{{phoneNumber.get('phoneNumber')}}">
                                    {{phoneNumber.get('phoneNumber')}}
                                </a>
                                <ng-container *ngIf="!itemIsLast"><br></ng-container>
                            </ng-container>
                            <!-- + (567) 1234-567-8900<br>+ (567) 1234-567-8901 -->
                        </p>
                    </div>
                </div>
            </div>
            <div ngClass="col-xl-4 col-md-12 mt-4 mt-xl-0">
                <div ngClass="gen-icon-box-style-1">
                    <div ngClass="gen-icon-box-icon">
                        <span ngClass="gen-icon-animation">
                            <i ngClass="far fa-envelope"></i></span>
                    </div>
                    <div ngClass="gen-icon-box-content">
                        <h3 ngClass="pt-icon-box-title mb-2">
                            <span>Mail us</span>
                        </h3>
                        <p ngClass="gen-icon-box-description">
                            <ng-container *ngFor="let mail of mails;let itemIsLast=last;trackBy: trackByEmailAddress">
                                <a ngClass="font-weight-bold" href="mailto:{{mail.get('emailAddress')}}">
                                    {{mail.get('emailAddress')}}
                                </a>
                                <ng-container *ngIf="!itemIsLast"><br></ng-container>
                            </ng-container>

                            <!-- info@gentechtree.com<br>info2@gentechtree.com -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Icon-Box End -->

<!-- Map Start -->
<!-- <Section ngClass="gen-section-padding-3 gen-top-border">
    <div ngClass="container container-2">
        <div ngClass="row">
            <div ngClass="col-xl-6">
                <h2 ngClass="mb-5">get in touch</h2>
                <form autocomplete="off">
                    <div ngClass="row gt-form">
                        <div ngClass="col-md-6 mb-4"><input type="text" name="first_name" placeholder="Your Name">
                        </div>
                        <div ngClass="col-md-6 mb-4"><input type="email" name="your-email" placeholder="Email"></div>
                        <div ngClass="col-md-6 mb-4"><input type="text" name="your-Cell-phone" placeholder="Cell Phone">
                        </div>
                        <div ngClass="col-md-6 mb-4"><input type="text" name="your-Venue" placeholder="Venue"></div>
                        <div ngClass="col-md-12 mb-4"><textarea name="your-message" rows="6"
                                placeholder="Your Message"></textarea><br>
                            <input type="submit" value="Send" ngClass="mt-4">
                        </div>
                    </div>
                </form>
            </div> 
            <div ngClass="col-xl-12">
                <div style="width: 100%" *ngIf=!locationDetails.isEmpty()>
                    <iframe width="100%" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        [src]="mapQueryset|safe:TRUST_RESOURCE_URL_SAFE_PIPE_KEY"></iframe>
                </div>
            </div>
        </div>
    </div>
</Section> -->
<!-- Map End -->

<!-- footer start -->
<snap-footer></snap-footer>
<!-- footer End -->