<!--=========== Loader =============-->
<!-- <div id="gen-loading">
    <div id="gen-loading-center">
        <img src="assets/images/logo-1.png" alt="loading">
    </div>
</div> -->
<!--=========== Loader =============-->

<style>
    .mb-10,
    .my-10 {
        margin-bottom: 4rem !important;
    }
</style>

<!-- Log-in  -->
<section ngClass="position-relative pb-0">
    <div ngClass="gen-login-page-background" style="background-image: url('assets/images/background/asset-54.jpg');">
    </div>
    <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-lg-12">
                <div ngClass="text-center">
                    <img ngClass="img-fluid" src="assets/images/LI-B-1-removebg-preview.png"
                    alt="Livebox logo" [style.height.vh]="30"/>
                    <!-- <h1>Livebox</h1> -->

                    <!-- Heading -->
                    <!-- <h1>We are Coming Soon</h1> -->

                    <!-- Text -->
                    <p ngClass="mb-9 font-size-lg">
                        All the event interviews put together in one box.
                    </p>

                    <a ngClass="btn btn-link btn-sm px-0 mt-4" [routerLink]="null" (click)="navigateBackToHome()" [ngStyle]="{
                        textTransform: 'uppercase',
                        position: 'relative',
                        width: 'auto',
                        fontWeight: '400',
                        color: 'var(--white-color)',
                        fontFamily: 'var(--title-fonts)',
                        fontSize: '16px'
                    }"><i ngClass="fas fa-arrow-left mr-2"></i> Go back to Homepage </a>

                    <!-- Counter -->
                    <!-- <div ngClass="d-flex justify-content-center mb-10" data-countdown data-date="Jan 5, 2021 15:37:25">
                        <div ngClass="text-center">
                            <div ngClass="font-size-h1 font-weight-bolder" data-days>00</div>
                            <div ngClass="heading-xxs">Days</div>
                        </div>
                        <div ngClass="px-1 px-md-4">
                            <div ngClass="font-size-h2 font-weight-bolder">:</div>
                        </div>
                        <div ngClass="text-center">
                            <div ngClass="font-size-h1 font-weight-bolder" data-hours>00</div>
                            <div ngClass="heading-xxs">Hours</div>
                        </div>
                        <div ngClass="px-1 px-md-4">
                            <div ngClass="font-size-h2 font-weight-bolder">:</div>
                        </div>
                        <div ngClass="text-center">
                            <div ngClass="font-size-h1 font-weight-bolder" data-minutes>00</div>
                            <div ngClass="heading-xxs">Minutes</div>
                        </div>
                        <div ngClass="px-1 px-md-4">
                            <div ngClass="font-size-h2 font-weight-bolder">:</div>
                        </div>
                        <div ngClass="text-center">
                            <div ngClass="font-size-h1 font-weight-bolder" data-seconds>00</div>
                            <div ngClass="heading-xxs">Seconds</div>
                        </div>
                    </div> -->

                    <!-- <form (submit)="false" autocomplete="off">
                        <div ngClass="form-row">
                            <div ngClass="col-12 col-md">
                                <div ngClass="form-group mb-md-0">
                                    <label ngClass="sr-only" for="comingSoonEmail"></label>
                                    <input id="comingSoonEmail" type="email" placeholder="Enter Email *">
                                </div>
                            </div>

                            <div ngClass="col-12 col-md-auto">
                                <input type="submit" name="wp-submit" ngClass="button button-primary" value="Notify me!">
                                <input type="hidden" name="redirect_to">
                            </div>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Log-in  -->