<!--========== Header ==============-->
<header id="gen-header" ngClass="gen-header-style-1 gen-has-sticky">
  <div ngClass="gen-bottom-header">
    <div ngClass="container">
      <div ngClass="row">
        <div ngClass="col-lg-12">
          <nav ngClass="navbar navbar-expand-lg navbar-light">
            <a ngClass="navbar-brand" [routerLink]="null">
              <img ngClass="img-fluid logo" src="assets/images/SN_ONLY-1-removebg-preview.png" alt="Shownest Africa Logo"
              [style.height.px]="'100'">
            </a>
            <div ngClass="collapse navbar-collapse" id="navbarSupportedContent">
              <div id="gen-menu-contain" ngClass="gen-menu-contain">
                <ul id="gen-main-menu" ngClass="navbar-nav ml-auto">
                  <li ngClass="menu-item" [class.active]="isRoot">
                    <a routerLink="" aria-current="page">Home</a>
                  </li>
                  <li ngClass="menu-item" routerLinkActive="active">
                    <a routerLink="/live-box">LiveBox</a>
                  </li>
                  <li ngClass="menu-item" routerLinkActive="active">
                    <a routerLink="/moments/series/upcoming">Upcomming</a>
                  </li>
                  <li ngClass="menu-item" routerLinkActive="active">
                    <a routerLink="/moments/series/past">Past</a>
                  </li>
                  <li ngClass="menu-item" routerLinkActive="active">
                    <a routerLink="/library/purchases">My Events</a>
                  </li>
                  <li ngClass="menu-item" routerLinkActive="active">
                    <a routerLink="/contact-us">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div ngClass="gen-header-info-box">
              <div ngClass="gen-menu-search-block">
                <!-- <a [routerLink]="null" id="gen-seacrh-btn"><i ngClass="fa fa-search"></i></a>
                <div ngClass="gen-search-form">
                  <form role="search" ngClass="search-form" (submit)="null" autocomplete="off">
                    <label>
                      <span ngClass="screen-reader-text"></span>
                      <input type="search" ngClass="search-field" placeholder="Search …" value="" name="s">
                    </label>
                    <button type="submit" ngClass="search-submit"><span ngClass="screen-reader-text"></span></button>
                  </form>
                </div> -->
              </div>
              <div ngClass="gen-account-holder">
                <ng-container *ngIf="currentUserDetails.get('isLoggedIn'); else showFaUserIcon;">
                  <a [routerLink]="null" id="gen-user-btn" [style.background]="currentUserDetails.get('background')"
                    (click)="toggleGenAccountMenu()">
                    <span>
                      {{ currentUserDetails.get('emailFirstChar') }}
                    </span>
                  </a>
                </ng-container>
                <ng-template #showFaUserIcon>
                  <a [routerLink]="null" id="gen-user-btn" (click)="toggleGenAccountMenu()">
                    <i ngClass="fa fa-user"></i></a>
                </ng-template>
                <div ngClass="gen-account-menu" [class.d-block]="showGenAccountMenu">
                  <ul ngClass="gen-account-menu" [class.d-block]="showGenAccountMenu">
                    <!-- Pms Menu -->
                    <li>
                      <a routerLink="/library/purchases">
                        <i ngClass="fa fa-indent"></i>
                        My Events </a>
                    </li>
                    <li>
                      <a routerLink="/moments/submit"> <i ngClass="fa fa-upload"></i>
                        Create event </a>
                    </li>
                    <li>
                      <a routerLink="/manage-profile">
                        <i ngClass="fa fa-user"></i>
                        Manage your Account
                      </a>
                    </li>
                    <li>
                      <a routerLink="/faq">
                        <i ngClass="fa fa-list"></i> FAQ
                      </a>
                    </li>
                    <ng-container *ngIf="currentUserDetails.get('isLoggedIn'); else showTheLogoutItemInstead;">
                      <li>
                        <a [routerLink]="null" data-toggle="modal" [attr.data-target]="'#'+CONFIRM_LOGOUT_MODAL_ID">
                          <i ngClass="fas fa-sign-out-alt"></i>
                          logout </a>
                      </li>
                    </ng-container>
                    <ng-template #showTheLogoutItemInstead>
                      <li>
                        <a routerLink="auth/log-in"><i ngClass="fas fa-sign-in-alt"></i>
                          Login </a>
                      </li>
                      <li>
                        <a routerLink="/auth/register"><i ngClass="fa fa-user"></i>
                          Register </a>
                      </li>
                    </ng-template>
                  </ul>
                </div>
              </div>
              <div ngClass="gen-btn-container">
                <a routerLink="/moments/submit" ngClass="gen-button">
                  <div ngClass="gen-button-block">
                    <span ngClass="gen-button-line-left"></span>
                    <span ngClass="gen-button-text">Create event</span>
                  </div>
                </a>
              </div>
            </div>
            <button ngClass="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i ngClass="fas fa-bars"></i>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!--========== Header ==============-->

<snap-modal-fullscreen [modalID]="CONFIRM_LOGOUT_MODAL_ID">
  <ng-container data-modalTitle>
    Do you wish to log out
  </ng-container>

  <ng-container data-modalHeaderDismissModal>
    <button type="button" ngClass="close" data-dismiss="modal" aria-label="Close" style="color: var(--white-color);">
      <span aria-hidden="true">&times;</span>
    </button>
  </ng-container>

  <ng-container data-modalBody>
    <p>You are attempting to log out of Shownest Africa</p>
    <p>Do you really want to<a routerLink="/auth/log-out" data-dismiss="modal"> log out</a>?
    </p>
  </ng-container>

  <ng-container data-modalFooter>
    <a ngClass="gen-button" data-dismiss="modal" [routerLink]="null">
      <div ngClass="gen-button-block"><span ngClass="gen-button-text"> Close </span></div>
    </a>
  </ng-container>
</snap-modal-fullscreen>