<!--========== Header ==============-->
<header id="gen-header" class="gen-header-style-1 gen-has-sticky">
  <div class="gen-bottom-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" [routerLink]="null">
              <!-- <img class="img-fluid logo" src="assets/images/logo-1.png" alt="streamlab-image"> -->
              <a class="navbar-brand" routerLink=""
                [ngStyle]="{ color: 'white', fontWeight: 'bolder' , fontSize: '0.9999rem'}">Show Nest
                Africa
              </a>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div id="gen-menu-contain" class="gen-menu-contain">
                <ul id="gen-main-menu" class="navbar-nav ml-auto">
                  <li class="menu-item" [class.active]="isRoot">
                    <a routerLink="" aria-current="page">Home</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a routerLink="/moments/happening-now">Happening now</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a routerLink="/moments/upcoming">Upcoming</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a routerLink="/moments/past">Past</a>
                  </li>
                  <!-- <li class="menu-item" routerLinkActive="active">
                    <a routerLink="/live-box">Live Box</a>
                  </li> -->
                </ul>
              </div>
            </div>
            <div class="gen-header-info-box">
              <div class="gen-menu-search-block">
                <a [routerLink]="null" id="gen-seacrh-btn"><i class="fa fa-search"></i></a>
                <div class="gen-search-form">
                  <form role="search" class="search-form" onsubmit="return false;">
                    <label>
                      <span class="screen-reader-text"></span>
                      <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                    </label>
                    <button type="submit" class="search-submit"><span class="screen-reader-text"></span></button>
                  </form>
                </div>
              </div>
              <div class="gen-account-holder">
                <a [routerLink]="null" id="gen-user-btn"><i class="fa fa-user"></i></a>
                <div class="gen-account-menu">
                  <ul class="gen-account-menu">
                    <!-- Pms Menu -->
                    <li>
                      <a routerLink="auth/log-in"><i class="fas fa-sign-in-alt"></i>
                        login </a>
                    </li>
                    <li>
                      <a routerLink="/auth/register"><i class="fa fa-user"></i>
                        Register </a>
                    </li>
                    <!-- Joined Menu -->
                    <li>
                      <a [routerLink]="null">
                        <i class="fa fa-indent"></i>
                        Joined </a>
                    </li>
                    <li>
                      <a [routerLink]="null"><i class="fa fa-list"></i>
                        Interested </a>
                    </li>
                    <li>
                      <a routerLink="/moments/past"><i class="fa fa-list"></i>
                        Past </a>
                    </li>
                    <li>
                      <a [routerLink]="null"><i class="fa fa-list"></i>
                        Coming </a>
                    </li>
                    <li>
                      <a [routerLink]="null"> <i class="fa fa-upload"></i>
                        Create event </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="gen-btn-container">
                <a routerLink="/auth/register" class="gen-button">
                  <div class="gen-button-block">
                    <span class="gen-button-line-left"></span>
                    <span class="gen-button-text">Create</span>
                  </div>
                </a>
              </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!--========== Header ==============-->