<!--=========== Loader =============-->
<!-- <div id="gen-loading">
        <div id="gen-loading-center">
            <img src="assets/images/logo-1.png" alt="loading">
        </div>
    </div> -->
<!--=========== Loader =============-->

<!--========== Header ==============-->
<snap-header></snap-header>
<!--========== Header ==============-->

<!-- Single movie Start -->
<section class="gen-section-padding-3 mt-lg-5 mt-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="gen-blog-post">
                    <div class="gen-blog-contain">
                        <h5 class="gen-blog-title">
                            <a [routerLink]="null">
                                {{ postMeta.get('nameOfMoment') }}
                            </a>
                        </h5>

                        <snap-compelling-event-description></snap-compelling-event-description>

                        <snap-trailer></snap-trailer>

                        <div class="gen-movie-contain-style-2 h-100 my-4">
                            <div class="container h-100">
                                <div class="row flex-row-reverse align-items-center h-100">
                                    <div class="col-12 p-0">
                                        <div class="gen-tag-line">
                                            <span>
                                                <snap-count-down [startDate]="widgetDetails.get('startsOn')">
                                                </snap-count-down>
                                            </span>
                                        </div>

                                        <div class="gen-movie-meta-holder">
                                            <ul class="gen-meta-after-title">
                                                <li class="gen-sen-rating">
                                                    <span>
                                                        {{ widgetDetails.get('venue')|formatUrl:40 }}
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="gen-blog-post">
                    <div class="gen-post-media">
                        <snap-img-lazy [src]="postMeta.getIn(['poster', 'src'])"
                            [alt]="postMeta.getIn(['poster', 'alt'])" height="345px" [momentRoundImgCard]="false">
                        </snap-img-lazy>
                        <a class="gen-button btn btn-danger btn-lg" [routerLink]="null" tabindex="0"
                            [style.width.%]="100">
                            <span class="text">
                                {{ postMeta.get('callToAction') }}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Single movie End -->

<!-- footer start -->
<snap-footer></snap-footer>
<!-- footer End -->