<!-- owl-carousel images Start -->
<section ngClass="pt-0 gen-section-padding-2 home-singal-silder mt-5">
    <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-12">
                <div ngClass="gen-banner-movies">
                    <div ngClass="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="1"
                        data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
                        data-loop="true" data-margin="30">
                        <owl-carousel-o [options]="customOptionsForBanner">
                            <ng-template carouselSlide>
                                <div ngClass="item" style="background: url('assets/images/background/asset-20.jpeg')">
                                    <div ngClass="gen-movie-contain h-100">
                                        <div ngClass="container h-100">
                                            <div ngClass="row align-items-center h-100">
                                                <div ngClass="col-xl-6">
                                                    <div ngClass="gen-movie-info">
                                                        <h3>Command in your hand</h3>
                                                    </div>
                                                    <div ngClass="gen-movie-meta-holder">
                                                        <ul>
                                                            <li>1 Season</li>
                                                            <li>3 Episode</li>
                                                            <li>2013</li>
                                                            <li>
                                                                <a [routerLink]="null"><span>Sponsorships</span></a>
                                                            </li>
                                                        </ul>
                                                        <p>Enim ut sem viverra aliquet eget sit amet tellus cras.
                                                            Feugiat nibh sed pulvinar proin
                                                            gravida hendrerit lectus a. Mauris augue neque gravida in
                                                            fermentum et.</p>
                                                    </div>
                                                    <div ngClass="gen-movie-action">
                                                        <div ngClass="gen-btn-container">
                                                            <a routerLink="/moments/past/details"
                                                                ngClass="gen-button gen-button-dark">
                                                                <span ngClass="text">Watch Highlights</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div ngClass="item" style="background: url('assets/images/background/asset-21.jpeg')">
                                    <div ngClass="gen-movie-contain h-100">
                                        <div ngClass="container  h-100">
                                            <div ngClass="row align-items-center h-100">
                                                <div ngClass="col-xl-6">
                                                    <div ngClass="gen-movie-info">
                                                        <h3>stories of the dark</h3>
                                                    </div>
                                                    <div ngClass="gen-movie-meta-holder">
                                                        <ul>
                                                            <li>1 Season</li>
                                                            <li>5 Episode</li>
                                                            <li>2015 to 2016</li>
                                                            <li>
                                                                <a [routerLink]="null"><span>Awards &
                                                                        competitions</span></a>
                                                            </li>
                                                        </ul>
                                                        <p>Enim ut sem viverra aliquet eget sit amet tellus cras.
                                                            Feugiat nibh sed pulvinar proin
                                                            gravida hendrerit lectus a. Mauris augue neque gravida in
                                                            fermentum et.</p>
                                                    </div>
                                                    <div ngClass="gen-movie-action">
                                                        <div ngClass="gen-btn-container button-1">
                                                            <a routerLink="/moments/past/details"
                                                                ngClass="gen-button gen-button-dark">
                                                                <span ngClass="text">Watch Highlights</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div ngClass="item" style="background: url('assets/images/background/asset-37.jpeg')">
                                    <div ngClass="gen-movie-contain h-100">
                                        <div ngClass="container h-100">
                                            <div ngClass="row align-items-center h-100">
                                                <div ngClass="col-xl-6">
                                                    <div ngClass="gen-movie-info">
                                                        <h3>Against Beast</h3>
                                                    </div>
                                                    <div ngClass="gen-movie-meta-holder">
                                                        <ul>
                                                            <li>1 Season</li>
                                                            <li>1 Episode</li>
                                                            <li>2017 to 2018</li>
                                                            <li>
                                                                <a [routerLink]="null"><span>Festivals</span></a>
                                                            </li>
                                                        </ul>
                                                        <p>Enim ut sem viverra aliquet eget sit amet tellus cras.
                                                            Feugiat nibh sed pulvinar proin
                                                            gravida hendrerit lectus a. Mauris augue neque gravida in
                                                            fermentum et.</p>
                                                    </div>
                                                    <div ngClass="gen-movie-action">
                                                        <div ngClass="gen-btn-container button-1">
                                                            <a routerLink="/moments/past/details"
                                                                ngClass="gen-button gen-button-dark">
                                                                <span ngClass="text">Watch Highlights</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>