<section class="gen-section-padding-3">
  <div class="container">
    <div class="col-12">
      <h2>MediaRecorder</h2>
      <p>Start a live event</p>

      <div class="row mb-4">
        <div class="col-xl-6 col-md-6">
          <div class="gen-img-main">
            <video class="video" #video controls autoplay></video>
            <p><b>Note:</b> If you hear a reverb sound your microphone is picking up the output of your
              speakers/headset, lower the volume and/or move the microphone further away from your speakers/headset.</p>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 mt-4 mt-md-0">
          <div class="gen-img-main">
            <video class="video" style="width:360 !important;" controls #recordedVideo></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gen-section-padding-3">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-md-12">
        <div class="gen-blog gen-blog-col-1">
          <div class="row">
            <div class="col-lg-12">
              <div class="gen-blog-post">
                <div class="gen-blog-contain">
                  <div class="gen-post-meta">
                    <ul>
                      <li class="gen-post-meta" *ngIf="!cameraHasStarted">
                        <a [routerLink]="null" (click)="startCamera()">
                          Start camera
                        </a>
                      </li>
                      <li class="gen-post-tag" *ngIf="!isRecording;">
                        <a [routerLink]="null" (click)="startRecording()">
                          Start Recording</a>
                      </li>
                      <li class="gen-post-tag" *ngIf="isRecording">
                        <a [routerLink]="null" (click)="stopRecording()">
                          Stop Recording</a>
                      </li>
                      <li class="gen-post-tag">
                        <ng-container *ngIf="isCurrentUploading; else showUploadCtrls;">
                          <a [routerLink]="null">
                            <span class="loadmore-icon d-inline-block"><i class="fa fa-spinner fa-spin"></i></span>
                            Uploading</a>
                        </ng-container>
                        <ng-template #showUploadCtrls>
                          <a [routerLink]="null" (click)="uploadChunkStream()">
                            Upload chunk stream</a>
                        </ng-template>

                      </li>
                      <li class="gen-post-tag">
                        <a [routerLink]="null" (click)="displayAllStoredChunks()">
                          Display all stored</a>
                      </li>
                    </ul>
                  </div>
                  <h5 class="gen-blog-title">
                    <a [routerLink]="null">
                      Recording format</a>
                  </h5>
                  <select #codecPreferences disabled>
                  </select>
                  <h5>Media Stream Constraints options</h5>
                  <p>Echo cancellation:
                    <input type="checkbox" #echoCancellationEl>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>