<ng-container *ngIf="!eventDetails.isEmpty()">
    <snap-header></snap-header>

    <section ngClass="gen-section-padding-3 mt-lg-5 mt-xl-5">
        <div ngClass="container">
            <div ngClass="row">
                <div ngClass="col-xl-6 col-lg-6 col-md-6">
                    <div ngClass="gen-blog-post">
                        <div ngClass="gen-blog-contain">
                            <h5 ngClass="gen-blog-title">
                                {{ eventDetails.get('nameOfMoment') }}
                            </h5>

                            <div ngClass="gen-movie-contain-style-2 h-100">
                                <div ngClass="h-100">
                                    <div ngClass="flex-row-reverse align-items-center h-100">

                                        <div>
                                            <div ngClass="gen-tag-line">
                                                <span *ngIf="$any(eventDetails.get('eventIs', '')) === 'ongoing'">
                                                    Live now
                                                </span>
                                                <span *ngIf="eventDetails.get('startsOn')">
                                                    <snap-count-down [startDate]="eventDetails.get('startsOn')">
                                                    </snap-count-down>
                                                </span>
                                            </div>
                                            <div ngClass="my-4">
                                                <snap-item-description *ngIf="eventDetails.get('description')"
                                                    [itemDescription]="eventDetails.get('description')">
                                                </snap-item-description>
                                            </div>

                                            <ng-container *ngIf="eventDetails.get('salesEndsOn')">
                                                <div ngClass="gen-movie-info mt-4">
                                                    <h3
                                                        [ngStyle]="{fontSize: '28px',fontStyle: 'normal',lineHeight: '36px'}">
                                                        Replay Sales Ends In</h3>
                                                </div>

                                                <div ngClass="gen-tag-line">
                                                    <span>
                                                        <snap-count-down [startDate]="eventDetails.get('salesEndsOn')">
                                                        </snap-count-down>
                                                    </span>
                                                </div>
                                            </ng-container>

                                            <div ngClass="gen-movie-info mt-4"
                                                *ngIf="$any(eventDetails.get('tickets'))?.size">
                                                <h3 style="
                                            font-size: 28px;
                                            font-style: normal;
                                            line-height: 36px;
                                        ">Tickets</h3>
                                            </div>
                                            <div ngClass="gen-movie-meta-holder">
                                                <ul ngClass="gen-meta-after-title">
                                                    <li ngClass="gen-sen-rating" *ngIf="eventDetails.get('venue')">
                                                        <span>
                                                            {{ eventDetails.get('venue')|formatUrl:40 }}</span>
                                                    </li>
                                                </ul>

                                                <div ngClass="gen-meta-info"
                                                    *ngIf="$any(eventDetails.get('tickets'))?.size">
                                                    <ul ngClass="gen-meta-after-excerpt">

                                                        <li *ngFor="let ticket of eventDetails.get('tickets')">
                                                            <strong>{{
                                                            ticket.get('nameOfTicket') }}:</strong>
                                                            {{ ticket.get('cost') | currency:'KES':'symbol':'.2-2' }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <snap-trailer></snap-trailer>

                            <snap-highlights></snap-highlights>

                        </div>
                    </div>
                </div>
                <div ngClass="col-xl-6 col-lg-6 col-md-6">
                    <div ngClass="gen-blog-post">
                        <div ngClass="gen-post-media" *ngIf="eventDetails.getIn(['poster', 'src'], '')">
                            <snap-img-lazy [src]="eventDetails.getIn(['poster', 'src'])"
                                [alt]="eventDetails.getIn(['poster', 'alt'])" height="345px"
                                [momentRoundImgCard]="false">
                            </snap-img-lazy>
                        </div>

                        <div ngClass="gen-blog-contain my-0" *ngIf="eventDetails.get('replayEndedOn', '')||eventDetails.get('replayIsAvailableFor', '')
                        || eventDetails.get('endedOn', '')">
                            <div>
                                <svg ngClass="mr-2" width="17" height="18" viewBox="0 0 17 18" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.833 5.667H.167v10c0 .919.747 1.666 1.666 1.666h10v-1.666h-10v-10z">
                                    </path>
                                    <path
                                        d="M15.167.667h-10c-.92 0-1.667.746-1.667 1.666v10c0 .92.747 1.667 1.667 1.667h10c.92 0 1.666-.747 1.666-1.667v-10c0-.92-.746-1.666-1.666-1.666zm-7.5 10V4L13.5 7.333l-5.833 3.334z">
                                    </path>
                                </svg>
                                <ng-container *ngIf="eventDetails.get('endedOn')">
                                    <strong>Ended: </strong>{{ eventDetails.get('endedOn') |dateAgo }}
                                </ng-container>
                                <ng-container *ngIf="eventDetails.get('replayEndedOn')">
                                    <strong>Replay ended: </strong>{{ eventDetails.get('replayEndedOn') |dateAgo }}
                                </ng-container>
                                <ng-container *ngIf="eventDetails.get('replayIsAvailableFor')">
                                    <strong>Replay: </strong>Available for
                                    <ng-container [ngPlural]="eventDetails.get('replayIsAvailableFor')">
                                        {{ eventDetails.get('replayIsAvailableFor') }}

                                        <ng-template ngPluralCase="1">
                                            hr
                                        </ng-template>
                                        <ng-template ngPluralCase="other">
                                            hrs
                                        </ng-template>
                                    </ng-container> after event
                                </ng-container>
                            </div>
                        </div>

                        <a ngClass="gen-button btn btn-danger btn-lg" routerLink="./get-tickets" tabindex="0"
                            [style.width.%]="100" *ngIf="eventDetails.get('canGetATicket', false)">
                            <span ngClass="text">
                                Get tickets
                            </span>
                        </a>

                        <a ngClass="gen-button btn btn-danger btn-lg" routerLink="./get-tickets" tabindex="0"
                            [style.width.%]="100" *ngIf="eventDetails.get('canPurchaseReplay', false)">
                            <span ngClass="text">
                                Purchase replay
                            </span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <snap-footer></snap-footer>
</ng-container>