<p [innerHTML]="currentText"></p>

<a [routerLink]="null" ngClass="pxp-sp-more text-uppercase font-weight-bold" *ngIf="!doNotShowToggler && !hideToggle" (click)="toggleView()">
    <ng-container *ngIf="isCollapsed; else showLess;">
        <span ngClass="pxp-sp-more-1">Continue Reading <span ngClass="fa fa-angle-down"></span></span>
    </ng-container>

    <ng-template #showLess>
        <span ngClass="pxp-sp-more-2">Show Less <span ngClass="fa fa-angle-up"></span></span>
    </ng-template>
</a>