<!--=========== Loader =============-->
<!-- <div id="gen-loading">
        <div id="gen-loading-center">
            <img src="assets/images/logo-1.png" alt="loading">
        </div>
    </div> -->
<!--=========== Loader =============-->

<!--========== Header ==============-->
<snap-header></snap-header>
<!--========== Header ==============-->

<!-- Single movie Start -->
<section class="gen-section-padding-3 mt-lg-5 mt-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-12">
                <div class="gen-blog-post">
                    <div class="gen-post-media">
                        <snap-img-lazy [src]="postMeta.getIn(['poster', 'src'])"
                            [alt]="postMeta.getIn(['poster', 'alt'])" height="345px"></snap-img-lazy>
                        <a class="gen-button btn btn-danger btn-lg" [routerLink]="null" tabindex="0"
                            [style.width.%]="100">
                            <span class="text">
                                Get notified
                            </span>
                        </a>
                    </div>
                    <div class="gen-blog-contain">
                        <div class="gen-post-meta">
                            <ul>
                                <li class="gen-post-author">
                                    <i class="fa fa-user"></i>
                                    {{ postMeta.get('username') }}
                                </li>
                                <li class="gen-post-meta">
                                    <a [routerLink]="null">
                                        <i class="fa fa-calendar"></i>
                                        {{ postMeta.get('endsOn') | dateAgo }}
                                    </a>
                                </li>
                                <li class="gen-post-tag">
                                    <a [routerLink]="null" [title]="postMeta.getIn(['typeOfMoment', 'description'])">
                                        <i class="fa fa-tag"></i>
                                        {{ postMeta.getIn(['typeOfMoment', 'title']) }}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <h5 class="gen-blog-title">
                            <a [routerLink]="null">
                                {{ postMeta.get('nameOfMoment') }}
                            </a>
                        </h5>

                        <snap-compelling-event-description></snap-compelling-event-description>

                        <snap-event-schedules-date-and-time></snap-event-schedules-date-and-time>

                        <snap-venue-location-or-addresses></snap-venue-location-or-addresses>

                        <snap-social-media-links></snap-social-media-links>

                        <snap-speakers></snap-speakers>

                        <ng-container *ngIf="postMeta.get('totalTestimonials')">
                            <h2 class="my-4">Social proof and testimonials</h2>
                            <a class="font-weight-bold" role="button" routerLink="./testimonials">
                                See testimonials
                            </a>
                        </ng-container>

                        <ng-container *ngIf="postMeta.get('totalPhotoGallery')">
                            <h2 class="my-4">Events photo gallery</h2>
                            <a class="font-weight-bold" role="button" routerLink="./photo-gallery">
                                See photos
                            </a>
                        </ng-container>

                        <ng-container *ngIf="postMeta.get('totalVideoGallery')">
                            <h2 class="my-4">Events video gallery</h2>
                            <a class="font-weight-bold" role="button" routerLink="./video-gallery">
                                See videos
                            </a>
                        </ng-container>

                        <snap-sponsor-logos></snap-sponsor-logos>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 mt-4 mt-lg-0 mt-xl-0">
                <div class="widget widget_recent_entries">
                    <!-- <h2 class="widget-title">Recent Posts</h2> -->
                    <ul>
                        <li>
                            <span class="font-weight-bold">Venue was: </span>
                            <span>
                                {{ widgetDetails.get('venue') }}
                            </span>
                        </li>
                        <li>
                            <span class="font-weight-bold">Ticket costed :</span>
                            <span>
                                {{ widgetDetails.get('cost')| currency:'KES':'symbol':'.2-2' }} per person</span>
                        </li>
                        <li>
                            <span class="font-weight-bold">Started: </span>
                            <span>
                                {{widgetDetails.get('startsOn')|dateAgo}}
                            </span>
                        </li>
                        <li>
                            <span class="font-weight-bold">Ended: </span>
                            <span>
                                {{widgetDetails.get('endsOn')|dateAgo}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Single movie End -->

<!-- footer start -->
<snap-footer></snap-footer>
<!-- footer End -->