<!--=========== Loader =============-->
<div id="gen-loading">
    <div id="gen-loading-center">
        <img src="assets/images/SN_ONLY-1-removebg-preview.png" alt="loading"
        [style.height.px]="200">
    </div>
</div>
<!--=========== Loader =============-->

<snap-loading-screen></snap-loading-screen>

<router-outlet></router-outlet>

<!-- Back-to-Top start -->
<div id="back-to-top">
    <a ngClass="top" id="top" [routerLink]="null"> <i ngClass="ion-ios-arrow-up"></i> </a>
</div>
<!-- Back-to-Top end -->