<router-outlet></router-outlet>
<!-- Back-to-Top start -->
<div id="back-to-top">
    <a class="top" id="top" [routerLink]="null"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!-- Back-to-Top end -->

<!-- <p>Tomato: {{countTomato}} | Apple: {{countApple}}</p>

<button type="button" class="btn btn-primary" (click)="incTomato()">Tomato</button>

<button type="button" class="btn btn-secondary" (click)="incApple()">Apple</button>

<div class="my-4">
    <a href="#" (click)="find10thPrimeNumber()">Click here</a> to find 10th prime number
    <div>The 10<sup>th</sup> prime number is {{ prime10 }}</div> <br/>
    <a href="#" (click)="find10000thPrimeNumber()">Click here</a> to find 10000th prime number
    <div>The 10000<sup>th</sup> prime number is {{ prime10000 }}</div>
 </div> -->