<ng-container *ngIf="!socialMediaLinks.isEmpty()">
    <h2 *ngIf="showHeader" class="my-4">Social media links</h2>
    <div>
        <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
            data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false" data-loop="false"
            data-margin="30">
            <owl-carousel-o [options]="socialMediaOwlCarouselConfigs">
                <ng-container *ngFor="let linkItem of socialMediaLinks">
                    <ng-template carouselSlide>
                        <a [href]="linkItem.get('href')" class="gen-button">
                            <div class="gen-button-block">
                                <span class="gen-button-text">
                                    {{linkItem.get('nameOfSocialMedia') |titlecase | formatUrl:11}}
                                </span>
                            </div>
                        </a>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</ng-container>