<!--=========== Loader =============-->
<!-- <div id="gen-loading">
        <div id="gen-loading-center">
            <img src="assets/images/logo-1.png" alt="loading">
        </div>
    </div> -->
<!--=========== Loader =============-->

<!--========== Header ==============-->
<snap-header></snap-header>
<!--========== Header ==============-->

<!-- breadcrumb -->
<div class="gen-breadcrumb" style="background-image: url('assets/images/background/asset-25.jpeg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="gen-breadcrumb-title">
                        <h1>
                            Past moments
                        </h1>
                    </div>
                    <div class="gen-breadcrumb-container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a routerLink="/">
                                    <i class="fas fa-home mr-2"></i>Home
                                </a>
                            </li>
                            <li class="breadcrumb-item active">Past Moments</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb -->

<!-- Section-1 Start -->
<section class="gen-section-padding-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="gen-style-1">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4" *ngFor="let event of pastEvents;">
                            <div class="gen-carousel-movies-style-2 movie-grid style-2">
                                <div class="gen-movie-contain">
                                    <div class="gen-movie-img" (click)="navigateToMomentDetail(event.get('id'))">
                                        <snap-img-lazy [src]="event.getIn(['proposal', 'poster', 'src'])"
                                            [alt]="event.getIn(['proposal', 'poster', 'alt'])" height="230px">
                                        </snap-img-lazy>
                                    </div>
                                    <div class="gen-info-contain">
                                        <div class="gen-movie-info">
                                            <h3>
                                                <a [routerLink]="['/moments','past',event.get('id'),'details']">
                                                    {{ event.getIn(['proposal', 'nameOfMoment']) }}
                                                </a>
                                            </h3>
                                            <span>
                                                {{ event.getIn(['proposal', 'username']) }}
                                            </span>
                                            <br />
                                        </div>
                                        <div class="gen-movie-meta-holder">
                                            <ul>
                                                <li>
                                                    {{ event.get('endsOn')|dateAgo }}
                                                </li>
                                                <li>
                                                    <a [routerLink]="null">
                                                        <span>Watch Highlights</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" *ngIf="paginationDetailsForPastEvent.get('next')">
                <div class="gen-load-more-button">
                    <div class="gen-btn-container">
                        <a class="gen-button gen-button-loadmore" [routerLink]="null" (click)="listPastEvent()">
                            <span class="loadmore-icon" [style.display]="loadingPastEvents ? 'inline-block': 'none'"><i
                                    class="fa fa-spinner fa-spin"></i></span>
                            <span class="button-text">Load More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section-1 End -->

<!-- footer start -->
<snap-footer></snap-footer>
<!-- footer End -->

<!-- Back-to-Top start -->

<!-- Back-to-Top end -->