<!-- Slick Slider start -->
<section ngClass="gen-section-padding-2 pt-0 pb-0 mt-5">
    <div ngClass="container">
        <div ngClass="home-singal-silder">
            <div ngClass="gen-nav-movies gen-banner-movies">
                <div ngClass="row">
                    <div ngClass="col-lg-12">
                        <div ngClass="slider slider-for">
                            <owl-carousel-o [options]="customOptionsForBanner">

                                <!-- Slider Items -->
                                <ng-template carouselSlide>
                                    <div ngClass="slider-item"
                                        style="background: url('assets/images/background/asset-4.jpeg')">
                                        <div ngClass="gen-slick-slider h-100">
                                            <div ngClass="gen-movie-contain h-100">
                                                <div ngClass="container h-100">
                                                    <div ngClass="row align-items-center h-100">
                                                        <div ngClass="col-lg-6">
                                                            <div ngClass="gen-movie-info">
                                                                <h3>thieve the bank</h3>
                                                                <p>Vitae aliquet nec ullamcorper sit amet risus nullam
                                                                    eget. Quis viverra nibh cras
                                                                    pulvinar. Enim tortor at auctor urna nunc id cursus
                                                                    metus.
                                                                </p>

                                                            </div>
                                                            <div ngClass="gen-movie-action">
                                                                <div ngClass="gen-btn-container button-1">
                                                                    <a ngClass="gen-button"
                                                                        owlRouterLink="/moments/past/details"
                                                                        tabindex="0">
                                                                        <i aria-hidden="true" ngClass="ion ion-play"></i>
                                                                        <span ngClass="text">Watch Interview</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template carouselSlide>
                                    <div ngClass="slider-item"
                                        style="background: url('assets/images/background/asset-23.jpeg')">
                                        <div ngClass="gen-slick-slider h-100">
                                            <div ngClass="gen-movie-contain h-100">
                                                <div ngClass="container h-100">
                                                    <div ngClass="row align-items-center h-100">
                                                        <div ngClass="col-lg-6">
                                                            <div ngClass="gen-movie-info">
                                                                <h3>Love your life</h3>
                                                                <p>Vitae aliquet nec ullamcorper sit amet risus nullam
                                                                    eget. Quis viverra nibh cras
                                                                    pulvinar. Enim tortor at auctor urna nunc id cursus
                                                                    metus.
                                                                </p>

                                                            </div>
                                                            <div ngClass="gen-movie-action">
                                                                <div ngClass="gen-btn-container button-1">
                                                                    <a ngClass="gen-button"
                                                                        owlRouterLink="/moments/past/details"
                                                                        tabindex="0">
                                                                        <i aria-hidden="true" ngClass="ion ion-play"></i>
                                                                        <span ngClass="text">Watch Interview</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template carouselSlide>
                                    <div ngClass="slider-item"
                                        style="background: url('assets/images/background/asset-24.jpeg')">
                                        <div ngClass="gen-slick-slider h-100">
                                            <div ngClass="gen-movie-contain h-100">
                                                <div ngClass="container h-100">
                                                    <div ngClass="row align-items-center h-100">
                                                        <div ngClass="col-lg-6">
                                                            <div ngClass="gen-movie-info">
                                                                <h3>The Last Witness</h3>
                                                                <p>Vitae aliquet nec ullamcorper sit amet risus nullam
                                                                    eget. Quis viverra nibh cras
                                                                    pulvinar. Enim tortor at auctor urna nunc id cursus
                                                                    metus.
                                                                </p>

                                                            </div>
                                                            <div ngClass="gen-movie-action">
                                                                <div ngClass="gen-btn-container button-1">
                                                                    <a ngClass="gen-button"
                                                                        owlRouterLink="/moments/past/details"
                                                                        tabindex="0">
                                                                        <i aria-hidden="true" ngClass="ion ion-play"></i>
                                                                        <span ngClass="text">Watch Interview</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template carouselSlide>
                                    <div ngClass="slider-item"
                                        style="background: url('assets/images/background/asset-25.jpeg')">
                                        <div ngClass="gen-slick-slider h-100">
                                            <div ngClass="gen-movie-contain h-100">
                                                <div ngClass="container h-100">
                                                    <div ngClass="row align-items-center h-100">
                                                        <div ngClass="col-lg-6">
                                                            <div ngClass="gen-movie-info">
                                                                <h3>Fight For Life</h3>
                                                                <p>Vitae aliquet nec ullamcorper sit amet risus nullam
                                                                    eget. Quis viverra nibh cras
                                                                    pulvinar. Enim tortor at auctor urna nunc id cursus
                                                                    metus.
                                                                </p>

                                                            </div>
                                                            <div ngClass="gen-movie-action">
                                                                <div ngClass="gen-btn-container button-1">
                                                                    <a ngClass="gen-button"
                                                                        owlRouterLink="/moments/past/details"
                                                                        tabindex="0">
                                                                        <i aria-hidden="true" ngClass="ion ion-play"></i>
                                                                        <span ngClass="text">Watch Interview</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <!-- Slider Items -->
                            </owl-carousel-o>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slick Slider End -->