<!-- Slick Slider start -->
<section class="gen-section-padding-2 pt-0 pb-0 mt-5">
    <div class="container">
        <div class="home-singal-silder">
            <div class="gen-nav-movies gen-banner-movies">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider slider-for">
                            <owl-carousel-o [options]="customOptionsForBanner">

                                <!-- Slider Items -->
                                <ng-template carouselSlide>
                                    <div class="slider-item"
                                        style="background: url('assets/images/background/asset-4.jpeg')">
                                        <div class="gen-slick-slider h-100">
                                            <div class="gen-movie-contain h-100">
                                                <div class="container h-100">
                                                    <div class="row align-items-center h-100">
                                                        <div class="col-lg-6">
                                                            <div class="gen-movie-info">
                                                                <h3>thieve the bank</h3>
                                                                <p>Vitae aliquet nec ullamcorper sit amet risus nullam
                                                                    eget. Quis viverra nibh cras
                                                                    pulvinar. Enim tortor at auctor urna nunc id cursus
                                                                    metus.
                                                                </p>

                                                            </div>
                                                            <div class="gen-movie-action">
                                                                <div class="gen-btn-container button-1">
                                                                    <a class="gen-button"
                                                                        owlRouterLink="/moments/past/details"
                                                                        tabindex="0">
                                                                        <i aria-hidden="true" class="ion ion-play"></i>
                                                                        <span class="text">Watch Interview</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template carouselSlide>
                                    <div class="slider-item"
                                        style="background: url('assets/images/background/asset-23.jpeg')">
                                        <div class="gen-slick-slider h-100">
                                            <div class="gen-movie-contain h-100">
                                                <div class="container h-100">
                                                    <div class="row align-items-center h-100">
                                                        <div class="col-lg-6">
                                                            <div class="gen-movie-info">
                                                                <h3>Love your life</h3>
                                                                <p>Vitae aliquet nec ullamcorper sit amet risus nullam
                                                                    eget. Quis viverra nibh cras
                                                                    pulvinar. Enim tortor at auctor urna nunc id cursus
                                                                    metus.
                                                                </p>

                                                            </div>
                                                            <div class="gen-movie-action">
                                                                <div class="gen-btn-container button-1">
                                                                    <a class="gen-button"
                                                                        owlRouterLink="/moments/past/details"
                                                                        tabindex="0">
                                                                        <i aria-hidden="true" class="ion ion-play"></i>
                                                                        <span class="text">Watch Interview</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template carouselSlide>
                                    <div class="slider-item"
                                        style="background: url('assets/images/background/asset-24.jpeg')">
                                        <div class="gen-slick-slider h-100">
                                            <div class="gen-movie-contain h-100">
                                                <div class="container h-100">
                                                    <div class="row align-items-center h-100">
                                                        <div class="col-lg-6">
                                                            <div class="gen-movie-info">
                                                                <h3>The Last Witness</h3>
                                                                <p>Vitae aliquet nec ullamcorper sit amet risus nullam
                                                                    eget. Quis viverra nibh cras
                                                                    pulvinar. Enim tortor at auctor urna nunc id cursus
                                                                    metus.
                                                                </p>

                                                            </div>
                                                            <div class="gen-movie-action">
                                                                <div class="gen-btn-container button-1">
                                                                    <a class="gen-button"
                                                                        owlRouterLink="/moments/past/details"
                                                                        tabindex="0">
                                                                        <i aria-hidden="true" class="ion ion-play"></i>
                                                                        <span class="text">Watch Interview</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template carouselSlide>
                                    <div class="slider-item"
                                        style="background: url('assets/images/background/asset-25.jpeg')">
                                        <div class="gen-slick-slider h-100">
                                            <div class="gen-movie-contain h-100">
                                                <div class="container h-100">
                                                    <div class="row align-items-center h-100">
                                                        <div class="col-lg-6">
                                                            <div class="gen-movie-info">
                                                                <h3>Fight For Life</h3>
                                                                <p>Vitae aliquet nec ullamcorper sit amet risus nullam
                                                                    eget. Quis viverra nibh cras
                                                                    pulvinar. Enim tortor at auctor urna nunc id cursus
                                                                    metus.
                                                                </p>

                                                            </div>
                                                            <div class="gen-movie-action">
                                                                <div class="gen-btn-container button-1">
                                                                    <a class="gen-button"
                                                                        owlRouterLink="/moments/past/details"
                                                                        tabindex="0">
                                                                        <i aria-hidden="true" class="ion ion-play"></i>
                                                                        <span class="text">Watch Interview</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <!-- Slider Items -->
                            </owl-carousel-o>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slick Slider End -->