<!--=========== Loader =============-->
<!-- <div id="gen-loading">
        <div id="gen-loading-center">
            <img src="assets/images/logo-1.png" alt="loading">
        </div>
    </div> -->
<!--=========== Loader =============-->

<!-- Recover-Password -->
<section ngClass="position-relative pb-0">
    <div ngClass="recover-password-page-background"
        style="background-image:url('assets/images/background/asset-75.jpg');">
    </div>
    <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-lg-12">
                <div ngClass="text-center">
                    <form id="pms_recover_password_form" ngClass="pms-form" [formGroup]="submitEventFormGroup"
                        *ngIf="submitEventFormGroup" autocomplete="off">

                        <ng-container *ngIf="momentSubmittedSuccessfully; else displayForSubmittingMoment;">
                            <h4>Event successfully submitted</h4>
                            <p ngClass="font-weight-bold">
                                We will contact you as soon as possible.
                                Thanks for your interest using Shownest Africa.</p>
                            <div ngClass="row gt-form">
                                <div ngClass="col-md-6 mb-4">
                                    <a [routerLink]="null" (click)="addAnotherMoment()" ngClass="gen-button">
                                        <div ngClass="gen-button-block">
                                            Submit another
                                        </div>
                                    </a>
                                </div>
                                <div ngClass="col-md-6 mb-4">
                                    <a routerLink="" ngClass="gen-button">
                                        <div ngClass="gen-button-block">
                                            Done
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #displayForSubmittingMoment>
                            <h4>Submit event</h4>
                            <snap-errornote></snap-errornote>

                            <ng-template #formFieldErrorsTemplate let-formControlFormGroup="formGroup"
                                let-formFieldErrors="errors">
                                <snap-display-form-field-errors [formGroupElement]="formControlFormGroup"
                                    [submitted]="submitted"
                                    [requiredOrNullOrNoValueProvidedErrorMessage]="formFieldErrors?.requiredOrNullOrNoValueProvidedErrorMessage || null"
                                    [minCharacterNotGenuinelyAchievedErrorMessage]="formFieldErrors?.minCharacterNotGenuinelyAchievedErrorMessage || null"
                                    [maxLengthPrefixErrorMessage]="formFieldErrors?.maxLengthPrefixErrorMessage || null"
                                    [minLengthPrefixErrorMessage]="formFieldErrors?.minLengthPrefixErrorMessage || null"
                                    [emailErrorMessage]="formFieldErrors?.emailErrorMessage || null"
                                    [emailHasBeenTakenErrorMessage]="formFieldErrors?.emailHasBeenTakenErrorMessage || null"
                                    [associationDoesNotExistErrorMessage]="formFieldErrors?.associationDoesNotExistErrorMessage || null"
                                    [doesNotExistErrorMessage]="formFieldErrors?.doesNotExistErrorMessage || null"
                                    [phoneNumberHasBeenTakenErrorMessage]="formFieldErrors?.phoneNumberHasBeenTakenErrorMessage || null"
                                    [usernameHasBeenTakenErrorMessage]="formFieldErrors?.usernameHasBeenTakenErrorMessage || null">
                                </snap-display-form-field-errors>
                            </ng-template>

                            <p ngClass="font-weight-bold">Please enter the following details.<br>We will establish a
                                shortlist
                                as quickly as possible. If you are shortlisted, we will email or
                                call you to continue with the process.</p>
                            <ul ngClass="pms-form-fields-wrapper pl-0 mb-4">
                                <li ngClass="pms-field mb-5">
                                    <label
                                        [for]="SUBMIT_EVENT_PARAM.PUBLIC_NAME
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.PUBLIC_NAME.formControlName)"
                                        [class.text-danger]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.PUBLIC_NAME.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.PUBLIC_NAME.formControlName)?.touched || submitted)">
                                        {{ SUBMIT_EVENT_PARAM.PUBLIC_NAME.label }}
                                    </label>
                                    <input
                                        [id]="SUBMIT_EVENT_PARAM.PUBLIC_NAME
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.PUBLIC_NAME.formControlName)"
                                        [formControlName]="SUBMIT_EVENT_PARAM.PUBLIC_NAME.formControlName" type="text"
                                        [class.is-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.PUBLIC_NAME.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.PUBLIC_NAME.formControlName)?.touched || submitted)"
                                        [placeholder]="SUBMIT_EVENT_PARAM.PUBLIC_NAME.placeholder" [attr.aria-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.PUBLIC_NAME.formControlName)?.invalid"
                                        [attr.aria-required]="SUBMIT_EVENT_PARAM.PUBLIC_NAME.isRequired"
                                        [attr.aria-required]="SUBMIT_EVENT_PARAM.PUBLIC_NAME.isRequired">
                                    <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate"
                                        [ngTemplateOutletContext]="{
                                            formGroup: submitEventFormGroup
                                            ?.get(SUBMIT_EVENT_PARAM.PUBLIC_NAME.formControlName),
                                            errors: SUBMIT_EVENT_PARAM.PUBLIC_NAME.errors
                                        }"></ng-container>
                                </li>
                                <li ngClass="pms-field mb-5">
                                    <label
                                        [for]="SUBMIT_EVENT_PARAM.EMAIL
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.EMAIL.formControlName)"
                                        [class.text-danger]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.EMAIL.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.EMAIL.formControlName)?.touched || submitted)">
                                        {{ SUBMIT_EVENT_PARAM.EMAIL.label }}
                                    </label>
                                    <input type="email"
                                        [id]="SUBMIT_EVENT_PARAM.EMAIL
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.EMAIL.formControlName)"
                                        [formControlName]="SUBMIT_EVENT_PARAM.EMAIL.formControlName" type="text"
                                        [class.is-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.EMAIL.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.EMAIL.formControlName)?.touched || submitted)"
                                        [placeholder]="SUBMIT_EVENT_PARAM.EMAIL.placeholder" [attr.aria-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.EMAIL.formControlName)?.invalid"
                                        [attr.aria-required]="SUBMIT_EVENT_PARAM.EMAIL.isRequired">
                                    <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate"
                                        [ngTemplateOutletContext]="{
                                            formGroup: submitEventFormGroup
                                            ?.get(SUBMIT_EVENT_PARAM.EMAIL.formControlName),
                                            errors: SUBMIT_EVENT_PARAM.EMAIL.errors
                                        }"></ng-container>
                                </li>
                                <li ngClass="pms-field mb-5">
                                    <label
                                        [for]="SUBMIT_EVENT_PARAM.PHONE_NUMBER
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.PHONE_NUMBER.formControlName)"
                                        [class.text-danger]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.PHONE_NUMBER.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.PHONE_NUMBER.formControlName)?.touched || submitted)">
                                        {{ SUBMIT_EVENT_PARAM.PHONE_NUMBER.label }}
                                    </label>
                                    <input type="tel"
                                        [id]="SUBMIT_EVENT_PARAM.PHONE_NUMBER
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.PHONE_NUMBER.formControlName)"
                                        [formControlName]="SUBMIT_EVENT_PARAM.PHONE_NUMBER.formControlName"
                                        [class.is-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.PHONE_NUMBER.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.PHONE_NUMBER.formControlName)?.touched || submitted)"
                                        [placeholder]="SUBMIT_EVENT_PARAM.PHONE_NUMBER.placeholder" [attr.aria-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.PHONE_NUMBER.formControlName)?.invalid"
                                        [attr.aria-required]="SUBMIT_EVENT_PARAM.PHONE_NUMBER.isRequired"
                                        [attr.aria-required]="SUBMIT_EVENT_PARAM.PHONE_NUMBER.isRequired">
                                    <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate"
                                        [ngTemplateOutletContext]="{
                                            formGroup: submitEventFormGroup
                                            ?.get(SUBMIT_EVENT_PARAM.PHONE_NUMBER.formControlName),
                                            errors: SUBMIT_EVENT_PARAM.PHONE_NUMBER.errors
                                        }"></ng-container>
                                </li>
                                <li ngClass="pms-field mb-5">
                                    <label
                                        [for]="SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.formControlName)"
                                        [class.text-danger]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.formControlName)?.touched || submitted)">
                                        {{ SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.label }}
                                    </label>
                                    <input
                                        [id]="SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.formControlName)"
                                        [formControlName]="SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.formControlName"
                                        type="text"
                                        [class.is-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.formControlName)?.touched || submitted)"
                                        [placeholder]="SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.placeholder"
                                        [attr.aria-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.formControlName)?.invalid"
                                        [attr.aria-required]="SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.isRequired">
                                    <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate"
                                        [ngTemplateOutletContext]="{
                                            formGroup: submitEventFormGroup
                                            ?.get(SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.formControlName),
                                            errors: SUBMIT_EVENT_PARAM.INSTAGRAM_USERNAME.errors
                                        }"></ng-container>
                                </li>
                                <li ngClass="pms-field mb-5">
                                    <label
                                        [for]="SUBMIT_EVENT_PARAM.NAME_OF_EVENT
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.NAME_OF_EVENT.formControlName)"
                                        [class.text-danger]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.NAME_OF_EVENT.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.NAME_OF_EVENT.formControlName)?.touched || submitted)">
                                        {{ SUBMIT_EVENT_PARAM.NAME_OF_EVENT.label }}
                                    </label>
                                    <input
                                        [id]="SUBMIT_EVENT_PARAM.NAME_OF_EVENT
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.NAME_OF_EVENT.formControlName)"
                                        [formControlName]="SUBMIT_EVENT_PARAM.NAME_OF_EVENT.formControlName" type="text"
                                        [class.is-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.NAME_OF_EVENT.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.NAME_OF_EVENT.formControlName)?.touched || submitted)"
                                        [placeholder]="SUBMIT_EVENT_PARAM.NAME_OF_EVENT.placeholder"
                                        [attr.aria-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.NAME_OF_EVENT.formControlName)?.invalid"
                                        [attr.aria-required]="SUBMIT_EVENT_PARAM.NAME_OF_EVENT.isRequired">
                                    <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate"
                                        [ngTemplateOutletContext]="{
                                            formGroup: submitEventFormGroup
                                            ?.get(SUBMIT_EVENT_PARAM.NAME_OF_EVENT.formControlName),
                                            errors: SUBMIT_EVENT_PARAM.NAME_OF_EVENT.errors
                                        }"></ng-container>
                                </li>

                                <li ngClass="pms-field mb-5">
                                    <label
                                        [for]="SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.formControlName)"
                                        [class.text-danger]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.formControlName)?.touched || submitted)">
                                        {{ SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.label }}
                                    </label>
                                    <input
                                        [id]="SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.formControlName)"
                                        [formControlName]="SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.formControlName"
                                        type="text"
                                        [class.is-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.formControlName)?.touched || submitted)"
                                        [placeholder]="SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.placeholder"
                                        [attr.aria-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.formControlName)?.invalid"
                                        [attr.aria-required]="SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.isRequired">
                                    <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate"
                                        [ngTemplateOutletContext]="{
                                            formGroup: submitEventFormGroup
                                            ?.get(SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.formControlName),
                                            errors: SUBMIT_EVENT_PARAM.TYPE_OF_MOMENT.errors
                                        }"></ng-container>
                                </li>

                                <li ngClass="pms-field mb-5">
                                    <label
                                        [for]="SUBMIT_EVENT_PARAM.POSTER
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.POSTER.formControlName)"
                                        [class.text-danger]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.POSTER.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.POSTER.formControlName)?.touched || submitted)">Poster
                                        of
                                        event</label>
                                    <div ngClass="text-center" *ngIf="!objectURLS.isEmpty()">
                                        <img [src]="objectURLS.last()|safe: SafePipeDomSanitizerTypes.URL"
                                            ngClass="img-fluid d-block mx-auto mb-3" alt="Poster of event">
                                    </div>
                                    <input type="file" (change)="fileBrowseHandler($event)" accept="image/*"
                                        [id]="SUBMIT_EVENT_PARAM.POSTER
                                    .slug(SUBMIT_EVENT_PARAM.NAME_OF_FORM_GROUP, SUBMIT_EVENT_PARAM.POSTER.formControlName)" [class.is-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.POSTER.formControlName)?.invalid && (submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.POSTER.formControlName)?.touched || submitted)"
                                        [attr.aria-invalid]="submitEventFormGroup
                                        ?.get(SUBMIT_EVENT_PARAM.POSTER.formControlName)?.invalid"
                                        [attr.aria-required]="SUBMIT_EVENT_PARAM.POSTER.isRequired"
                                        [attr.aria-required]="SUBMIT_EVENT_PARAM.POSTER.isRequired">
                                    <ng-container [ngTemplateOutlet]="formFieldErrorsTemplate"
                                        [ngTemplateOutletContext]="{
                                            formGroup: submitEventFormGroup
                                            ?.get(SUBMIT_EVENT_PARAM.POSTER.formControlName),
                                            errors: SUBMIT_EVENT_PARAM.POSTER.errors
                                        }"></ng-container>
                                </li>

                            </ul>
                            <div ngClass="row gt-form">
                                <div ngClass="col-md-6 mb-4">
                                    <snap-ajax-button [execute]="onSubmit" [parameter]="submitEventFormGroup">
                                        <ng-container data-animator>
                                            <span ngClass="loadmore-icon d-inline-block"><i
                                                    ngClass="fa fa-spinner fa-spin"></i></span>
                                            <span ngClass="gen-button-text">
                                                <span id="pms-submit-button-loading-placeholder-text">Processing
                                                    request...</span>
                                            </span>
                                        </ng-container>
                                        <ng-container data-content>
                                            <span ngClass="gen-button-line-left"></span>
                                            <span ngClass="gen-button-text">Submit event</span>
                                        </ng-container>
                                    </snap-ajax-button>
                                </div>
                                <div ngClass="col-md-6 mb-4">
                                    <a routerLink="" ngClass="gen-button">
                                        <div ngClass="gen-button-block">
                                            Cancel
                                        </div>
                                    </a>
                                </div>



                            </div>

                            <!-- <div ngClass="gen-btn-container">
                                
                            </div> -->
                        </ng-template>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recover-Password -->