<!-- breadcrumb -->
<div ngClass="gen-breadcrumb" [style.background-image]="'url('+ breadcrumbDetails.getIn(['poster', 'src']) +')'">
    <div ngClass="container">
        <div ngClass="row align-items-center">
            <div ngClass="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div ngClass="gen-breadcrumb-title">
                        <ng-content select="[data-breadcrumbTitle]"></ng-content>
                    </div>
                    <div ngClass="gen-breadcrumb-container">
                        <ol ngClass="breadcrumb">
                            <li ngClass="breadcrumb-item" *ngFor="let breadcrumbItem of breadcrumbItemsQL"
                                [class.active]="breadcrumbItem.active">
                                <ng-container *ngTemplateOutlet="breadcrumbItem?.templateRef"></ng-container>
                            </li>
                        </ol>
                        <ng-content select="[data-breadcrumbItems]"></ng-content>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb -->