<!--=========== Loader =============-->
<!-- <div id="gen-loading">
  <div id="gen-loading-center">
    <img src="assets/images/logo-1.png" alt="loading"> 
  </div>
</div> -->
<!--=========== Loader =============-->

<!--========== Header ==============-->
<snap-header></snap-header>
<!--========== Header ==============-->

<snap-upcoming></snap-upcoming>

<snap-owl-carousel-livebox></snap-owl-carousel-livebox>

<snap-past></snap-past>

<snap-owl-carousel-past-highlights></snap-owl-carousel-past-highlights>

<!-- Footer -->
<snap-footer></snap-footer>