<!-- footer start -->
<footer id="gen-footer">
    <div ngClass="gen-footer-style-1">
        <div ngClass="gen-footer-top">
            <div ngClass="container">
                <div ngClass="row">
                    <div ngClass="col-xl-3 col-lg-3 col-md-3">
                        <div ngClass="widget">
                            <div ngClass="row">
                                <img src="assets/images/SN_ONLY-1-removebg-preview.png"
                                    alt="Shownest Africa Footer Logo" [style.height.px]="'100'"
                                    ngClass="gen-footer-logo">
                                <div ngClass="col-sm-12">

                                    <p>Global, Ticketed, Social Experiences</p>
                                    <ul ngClass="social-link">
                                        <li><a [routerLink]="null" ngClass="facebook"><i
                                                    ngClass="fab fa-facebook-f"></i></a></li>
                                        <li><a [routerLink]="null" ngClass="facebook"><i
                                                    ngClass="fab fa-instagram"></i></a>
                                        </li>
                                        <li><a [routerLink]="null" ngClass="facebook"><i ngClass="fab fa-skype"></i></a>
                                        </li>
                                        <li><a [routerLink]="null" ngClass="facebook"><i
                                                    ngClass="fab fa-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngClass="col-xl-3 col-lg-3 col-md-3">
                        <div ngClass="widget">
                            <h4 ngClass="footer-title">Services</h4>
                            <div ngClass="menu-explore-container">
                                <ul ngClass="menu">
                                    <li ngClass="menu-item">
                                        <a routerLink="/live-box">LiveBox</a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/moments/series/upcoming">Upcomming Events</a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/moments/series/past">Past Events</a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/library/purchases">My Events</a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/moments/submit">Create event</a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/contact-us" aria-current="page">Contact Us </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ngClass="col-xl-3 col-lg-3 col-md-3">
                        <div ngClass="widget">
                            <h4 ngClass="footer-title">Manage your Account</h4>
                            <div ngClass="menu-about-container">
                                <ul ngClass="menu">
                                    <li ngClass="menu-item">
                                        <a routerLink="/manage-profile">
                                            My Profile
                                        </a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/manage-profile">
                                            Update My Profile
                                        </a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/manage-profile">
                                            Change Password
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ngClass="col-xl-3 col-lg-3 col-md-3">
                        <div ngClass="widget">
                            <h4 ngClass="footer-title">Information</h4>
                            <div ngClass="menu-about-container">
                                <ul ngClass="menu">
                                    <li ngClass="menu-item">
                                        <a routerLink="/faq/fan">
                                            FAQ for Fan
                                        </a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/faq/creator">
                                            FAQ for Creator
                                        </a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/policies/privacy-notice">
                                            Privacy Notice
                                        </a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/policies/terms-of-use">Terms Of Use</a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/contact-us">Help Center</a>
                                    </li>
                                    <li ngClass="menu-item">
                                        <a routerLink="/contact-us">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div ngClass="gen-copyright-footer">
            <div ngClass="container">
                <div ngClass="row">
                    <div ngClass="col-md-12 align-self-center">
                        <span ngClass="gen-copyright">
                            <a target="_blank" [routerLink]="null">
                                Copyright 2022 Shownest Africa All Rights Reserved.
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer End -->