<!-- footer start -->
<footer id="gen-footer">
    <div class="gen-footer-style-1">
        <div class="gen-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="widget">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- <img src="assets/images/logo-1.png" class="gen-footer-logo" alt="gen-footer-logo"> -->
                                    <a routerLink="" class="navbar-brand"
                                        [ngStyle]="{color: 'white',fontWeight: 'bolder', fontSize: '2.1rem'}">Show Nest
                                        Africa
                                    </a>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <ul class="social-link">
                                        <li><a [routerLink]="null" class="facebook"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li><a [routerLink]="null" class="facebook"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li><a [routerLink]="null" class="facebook"><i class="fab fa-skype"></i></a>
                                        </li>
                                        <li><a [routerLink]="null" class="facebook"><i class="fab fa-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="widget">
                            <h4 class="footer-title">Services</h4>
                            <div class="menu-explore-container">
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="index.html" aria-current="page">Contact Us </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="movies-pagination.html">Create event</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tv-shows-pagination.html">Live Interviews</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="video-pagination.html">Ticket sells</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="null">FAQ</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="null">Event Consultancy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="widget">
                            <h4 class="footer-title">Information</h4>
                            <div class="menu-about-container">
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a [routerLink]="null">Why Choose Us</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="null">Privacy
                                            Policy</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="null">Terms Of Use</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="null">Help Center</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="null">Contact us</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="null">Work With US</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gen-copyright-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center">
                        <span class="gen-copyright"><a target="_blank" [routerLink]="null"> Copyright 2022 Show Nest
                                Africa All
                                Rights
                                Reserved.</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer End -->